<div class="container-fluid">
  <form *ngIf="resourceForm" [formGroup]="resourceForm">
    <span class="required-field">
      * <span translate>ADMIN.COMMON.REQUIRED_FIELDS</span></span
    >
    <div class="row pt-3">
      <div class="col-md-5">
        <h5 translate>BUYER_USER.ACCOUNT_INFORMATION_HEADER</h5>
        <p class="font-italic" translate>
          BUYER_USER.ACCOUNT_INFORMATION_DESCRIPTION
        </p>
      </div>
      <div class="col-md-7 form-group">
        <div class="form-group">
          <p class="mb-1" translate>BUYER_USER.EDIT_FORM.ACTIVE</p>
          <label class="switch mb-0" for="Active">
            <input
              type="checkbox"
              class="form-check-input"
              id="Active"
              showErrors
              [resourceForm]="resourceForm"
              aria-describedby="Active"
              formControlName="Active"
              (input)="toggleActive($event)"
            />
            <span class="slider round cursor-pointer"></span>
          </label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Username" translate
              >BUYER_USER.EDIT_FORM.USERNAME
              <span class="required-field">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="Username"
              maxlength="100"
              showErrors
              aria-describedby="Username"
              formControlName="Username"
              (input)="updateResourceFromEvent()"
              [placeholder]="
                'BUYER_USER.EDIT_FORM.USERNAME_PLACEHOLDER' | translate
              "
            />
          </div>
          <div class="form-group col-md-6">
            <label for="Email" translate
              >BUYER_USER.EDIT_FORM.EMAIL
              <span class="required-field">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="Email"
              maxlength="200"
              showErrors
              [resourceForm]="resourceForm"
              aria-describedby="Email"
              formControlName="Email"
              (input)="updateResourceFromEvent()"
              [placeholder]="
                'BUYER_USER.EDIT_FORM.EMAIL_PLACEHOLDER' | translate
              "
            />
            <span *ngIf="hasValidEmailError()" class="error-message" translate
              >BUYER_USER.EDIT_FORM.EMAIL_INVALID_ERROR</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-5">
        <h5 translate>BUYER_USER.PERSONAL_INFORMATION_HEADER</h5>
        <p class="font-italic" translate>
          BUYER_USER.PERSONAL_INFORMATION_DESCRIPTION
        </p>
      </div>
      <div class="col-md-7 form-group">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="FirstName" translate
              >BUYER_USER.EDIT_FORM.FIRST_NAME
              <span class="required-field">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="FirstName"
              maxlength="100"
              showErrors
              aria-describedby="FirstName"
              formControlName="FirstName"
              (input)="updateResourceFromEvent()"
              [placeholder]="
                'BUYER_USER.EDIT_FORM.FIRST_NAME_PLACEHOLDER' | translate
              "
            />
          </div>
          <div class="form-group col-md-6">
            <label for="LastName" translate
              >BUYER_USER.EDIT_FORM.LAST_NAME
              <span class="required-field">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="LastName"
              maxlength="100"
              showErrors
              aria-describedby="LastName"
              formControlName="LastName"
              (input)="updateResourceFromEvent()"
              [placeholder]="
                'BUYER_USER.EDIT_FORM.LAST_NAME_PLACEHOLDER' | translate
              "
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Country" translate
              >BUYER_USER.EDIT_FORM.HOME_COUNTRY
              <span class="required-field">*</span></label
            >
            <select
              *ngIf="countryOptions.length"
              type="dropdown"
              class="form-control"
              formControlName="Country"
              id="Country"
              showErrors
              aria-describedby="Country"
              (change)="updateResourceFromEvent()"
            >
              <option [ngValue]="''" disabled translate>
                BUYER_USER.EDIT_FORM.HOME_COUNTRY_PLACEHOLDER
              </option>
              <option
                *ngFor="let country of countryOptions"
                [value]="country.abbreviation"
              >
                {{ country.label }}
              </option>
            </select>
            <input
              *ngIf="!countryOptions.length"
              type="text"
              class="form-control"
              id="Country"
              showErrors
              aria-describedby="Country"
              maxlength="2"
              [resourceForm]="resourceForm"
              formControlName="Country"
              (input)="updateResourceFromEvent()"
              [placeholder]="
                'BUYER_USER.EDIT_FORM.HOME_COUNTRY_CODE_PLACEHOLDER' | translate
              "
            />
            <p
              *ngIf="isUserAssignedToGroups"
              class="mt-2 font-italic text-muted"
              translate
            >
              BUYER_USER.EDIT_FORM.NO_ASSIGNED_LOCATIONS_MESSAGE
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <user-group-assignments
    *ngIf="selectedResource && !isCreatingNew"
    [isCreatingNew]="isCreatingNew"
    userGroupType="BuyerLocation"
    [user]="selectedResource"
    (assignmentsToAdd)="addUserGroupAssignments($event)"
    (hasAssignments)="userHasAssignments($event)"
    [userPermissionsService]="buyerUserService"
  >
  </user-group-assignments>
  <user-group-assignments
    *ngIf="
      selectedResource &&
      isCreatingNew &&
      this.resourceForm.controls.Country.value
    "
    [isCreatingNew]="isCreatingNew"
    userGroupType="BuyerLocation"
    [user]="selectedResource"
    [homeCountry]="resourceForm.controls.Country.value"
    (assignmentsToAdd)="addUserGroupAssignments($event)"
    [userPermissionsService]="buyerUserService"
  >
  </user-group-assignments>
</div>
