<div *ngIf="shipments">
  <div class="row">
    <div class="col-lg-5">
      <ul class="nav flex-column nav-pills">
        <li *ngFor="let shipment of shipments; let i = index" class="nav-item">
          <button
            class="btn btn-link btn-block nav-link text-left"
            (click)="selectShipment(shipment)"
            [ngClass]="{ active: selectedShipment.ID === shipment.ID }"
          >
            Shipment {{ i + 1 }}
          </button>
        </li>
      </ul>
    </div>
    <div class="col-lg-7">
      <div *ngIf="selectedShipment">
        <header>
          <h3 translate>ORDERS.SHIPMENTS.SHIPMENT</h3>
        </header>
        <div class="card">
          <div class="card-body">
            <ul class="oc-list-items">
              <li>
                <b><span translate>ORDERS.SHIPMENTS.SHIPPER</span>:</b>
                {{ selectedShipment.Shipper }}
              </li>
              <li
                *ngIf="!(selectedShipment.Shipper | shipperTrackingSupported)"
              >
                <b><span translate>ORDERS.SHIPMENTS.TRACKING</span>:</b>
                {{ selectedShipment.TrackingNumber || 'N/A' }}
              </li>
              <li *ngIf="selectedShipment.Shipper | shipperTrackingSupported">
                <a
                  href="{{
                    selectedShipment.TrackingNumber
                      | shipperTracking: selectedShipment.Shipper
                  }}"
                  target="_blank"
                  >{{ selectedShipment.TrackingNumber }}</a
                >
              </li>
              <li>
                <b><span translate>ORDERS.SHIPMENTS.DATE_SHIPPED</span>:</b>
                {{ selectedShipment.DateShipped | date: 'shortDate':'UTC' }}
              </li>
            </ul>
          </div>
        </div>
        <div class="table-responsive" *ngIf="selectedShipment.ShipmentItems">
          <table class="table">
            <caption class="sr-only" translate>
              ORDERS.SHIPMENTS.LINEITEMS
            </caption>
            <thead>
              <tr>
                <th translate>ORDERS.SHIPMENTS.QTY</th>
                <th translate>ORDERS.SHIPMENTS.PRODUCT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedShipment.ShipmentItems">
                <td>
                  {{ item.QuantityShipped + ' of ' + item.LineItem.Quantity }}
                </td>
                <td>
                  {{ item.LineItem.Product.Name }}
                  <small class="text-muted">{{
                    item.LineItem.Product.ID
                  }}</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="card bg-light p-3 flex-row justify-content-center rounded-0"
  *ngIf="shipments?.length === 0"
>
  <p class="mb-0" translate>ORDERS.SHIPMENTS.NO_SHIPMENTS</p>
</div>
