<div
  class="card kit-card"
  *ngIf="_productKitDetails"
  (click)="onSelectProduct()"
>
  <div class="card-body">
    <div class="d-flex justify-content-end" *ngIf="_productKitDetails.Optional">
      <span class="float-right">(Optional)</span>
    </div>
    <div class="row align-items-center">
      <div class="d-block col-md">
        <img class="img-thumbnail kit-thumbnail"
          [src]="imageUrl"
          alt="{{ 'Image for ' + _productKitDetails.Product.Name }}"
        />
      </div>
      <h6 class="mb-0 col-md">
        {{
          _productKitDetails.Product
            | kitproductNameWithSpecs: _productKitDetails.Specs
        }}
      </h6>
      <div class="col-md">
        <ocm-quantity-input
          class="col-md kit-qty-input"
          *ngIf="_productKitDetails.MinQty !== _productKitDetails.MaxQty"
          [gridDisplay]="true"
          [product]="_productKitDetails.Product"
          [priceSchedule]="_productKitDetails.Product.PriceSchedule"
          (qtyChange)="qtyChange($event.detail)"
        >
        </ocm-quantity-input>
        <small class="text-danger" *ngIf="errorMessage">{{
          errorMessage
        }}</small>
      </div>
      <p class="mb-0 col-md kit-price">
        {{ price | currency: userCurrency }}
      </p>
    </div>
  </div>
</div>
