// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@include media-breakpoint-up(lg) {
  .c-category-navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }
}