<?xml version="1.0" encoding="utf-8"?>
<sitecore database="SqlServer" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <!-- SIMPLE SETTINGS -->
  <settings>
    <!--  ERROR HANDLER Url of page handling generic errors -->
    <setting name="ErrorPage">
      <patch:attribute name="value">/500</patch:attribute>
    </setting>
    <!--  ERROR HANDLER Url of page handling generic errors -->
    <!--  LINK ITEM NOT FOUND HANDLER Url of page handling 'Link item not found' errors -->
    <setting name="ItemNotFoundUrl">
      <patch:attribute name="value">/404</patch:attribute>
    </setting>
    <setting name="LinkItemNotFoundUrl">
      <patch:attribute name="value">/404</patch:attribute>
    </setting>
    <!--  LINK ITEM NOT FOUND HANDLER Url of page handling 'Link item not found' errors -->
  </settings>
  <!-- MEDIA -->
  <mediaLibrary>
    <mediaTypes>
      <mediaType name="PDF file" extensions="pdf">
        <mimeType>application/pdf</mimeType>
        <forceDownload>false</forceDownload>
        <sharedTemplate>system/media/unversioned/pdf</sharedTemplate>
        <versionedTemplate>system/media/versioned/pdf</versionedTemplate>
      </mediaType>
    </mediaTypes>
  </mediaLibrary>
</sitecore>