<nav class="category-nav">
  <!-- mobile menu items -->
  <div
    class="d-block d-md-none bg-light mobile-sidebar-menu"
    id="navbarSupportedContent"
  >
    <h2
      class="sidebar__heading d-flex align-items-center text-medium border-bottom border-medium pb-2"
    >
      <span translate>LAYOUT.APP_HEADER.GREETING</span>, {{ user?.FirstName }}!
      <img class="ml-3" [src]="flagIcon" alt="currency-flag" />
    </h2>

    <ul class="navbar-nav">
      <!-- Mobile Profile Menu Items -->
      <li>
        <a
          class="sidebar__action"
          [routerLink]="['/profile']"
          routerLinkActive="sidebar__action--active"
          translate
          >LAYOUT.APP_HEADER.PROFILE
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <!-- ORDER -->
      <li>
        <a
          class="sidebar__action"
          [routerLink]="['/orders']"
          routerLinkActive="sidebar__action--active"
          translate
        >
          LAYOUT.APP_HEADER.ORDERS
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <!-- LOGOUT -->
      <li>
        <a
          class="sidebar__action text-medium"
          *ngIf="!isSSO"
          (click)="logout()"
          [routerLink]="['/login']"
          routerLinkActive="sidebar__action--active"
          translate
        >
          LAYOUT.APP_HEADER.LOGOUT
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <!-- Mobile Profile Menu Items -->
    </ul>

    <h2 class="sidebar__heading text-medium border-bottom border-medium pb-2">
      EXPLORE
    </h2>
    <ul class="navbar-nav">
      <li [ngClass]="{ active: activePath === '/products' }">
        <a
          class="sidebar__action"
          [routerLink]="['/products']"
          routerLinkActive="sidebar__action--active"
          translate
        >
          LAYOUT.APP_HEADER.PRODUCTS
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <li>
        <a
          class="sidebar__action"
          id="suppliers-link"
          [routerLink]="['/suppliers']"
          routerLinkActive="sidebar__action--active"
          translate
        >
          ALIAS.SUPPLIERS
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
      <li *ngFor="let page of staticPages">
        <a
          class="sidebar__action"
          [ngClass]="{ active: activePath === '/' + page.Doc.Url }"
          routerLink="{{ '/' + page.Doc.Url }}"
          routerLinkActive="sidebar__action--active"
        >
          {{ page.Doc.NavigationTitle }}
          <fa-icon [icon]="faCaretRight" aria-hidden="true"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <!-- shop by category -->
  <ul class="category-nav__menu">
    <li class="d-block d-md-none">
      <h2
        class="sidebar__heading small text-medium border-bottom border-medium pb-2"
      >
        SHOP BY CATEGORY
      </h2>
    </li>
    <li
      *ngFor="let parentCategory of parentCategories"
      class="level-top parent"
      (mouseover)="hoverSetActiveParentCat(parentCategory.ID)"
    >
      <a
        class="sidebar__action"
        [ngClass]="{ 'menu-active': parentCategory.ID === activeCatID }"
        (click)="setActiveCategory(parentCategory.ID)"
        >{{ parentCategory.Name }}
        <fa-icon
          *ngIf="checkForChildren(parentCategory)"
          [icon]="faCaretRight"
          aria-hidden="true"
        ></fa-icon>
      </a>
      <ul
        [ngClass]="{
          'menu-active': parentCategory.ID === activeCatID,
          show: checkForChildren(parentCategory)
        }"
        class="second-level-category"
      >
        <li
          *ngFor="
            let subCategory of subCategories
              | childCategoryFilter: parentCategory.ID
          "
          class="background-hover"
          [ngClass]="{
            'background-hover__parent': checkForChildren(subCategory)
          }"
          (mouseover)="hoverSetActiveSubCat(subCategory.ID)"
        >
          <a (click)="setActiveCategory(subCategory.ID)" class="sub-category"
            >{{ subCategory.Name }}
            <!-- <fa-icon *ngIf="checkForChildren(subCategory)"
                     [icon]="faCaretRight"></fa-icon> -->
          </a>
          <ul class="third-level-category">
            <li
              *ngFor="
                let subSubCategory of subSubCategories
                  | childCategoryFilter: subCategory.ID
              "
              class="background-hover"
            >
              <a
                (click)="setActiveCategory(subSubCategory.ID)"
                class="sub-category"
                >{{ subSubCategory.Name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="background-overlay"></div>
