
<nav class="category-nav"> 
  <!-- mobile menu items -->
  <div class="d-block d-md-none bg-light mobile-sidebar-menu"
  id="navbarSupportedContent"
  >
  <h2 class="heading__category text-medium border-bottom border-medium pb-2">ACCOUNT</h2>

  <ul class="navbar-nav">
    <!-- Mobile Profile Menu Items -->
    <li>
      <a
        class="sidebar-action"
        [ngClass]="{ active: activePath?.indexOf('/profile') === 0 }"
        (click)="context.router.toMyProfile()"
        translate
        >LAYOUT.APP_HEADER.PROFILE
        <fa-icon
        [icon]="faCaretRight"></fa-icon>  
      </a>
    </li>
  <!-- /Mobile Profile Menu Items -->
  <li *ngIf="user.IsAnonymous">
  <div class="sidebar-action form-inline">
    <a
      class="btn btn-sm btn-outline-dark"
      (click)="isCollapsed = !isCollapsed; context.router.toLogin()"
      translate
      >COMMON.LOGIN</a
    >
    <a
      class="btn btn-sm btn-primary d-none d-sm-block ml-2"
      (click)="isCollapsed = !isCollapsed; context.router.toRegister()"
      translate
      >LAYOUT.APP_HEADER.REGISTER</a
    >
  </div>
  </li>
    <!-- Profile -->
    <ul
    class="navbar-nav"
    *ngIf="!user.IsAnonymous"
  >
    <li
      class="nav-item dropdown cursor-pointer"
      ngbDropdown
      placement="bottom-right"
    >
      <div
        class="sidebar-action dropdown-toggle"
        id="accountDropdown"
        ngbDropdownToggle
      >
        <span translate>
          LAYOUT.APP_HEADER.ACCOUNT
        </span>
        <fa-icon class="mr-auto ml-2 text-medium" [icon]="faUserCircle" aria-hidden="true"></fa-icon>
      </div>
      <div
        class="dropdown__acount"
        aria-labelledby="accountDropdown"
        ngbDropdownMenu
      >
        <h4 class="dropdown-header">
          <span translate>LAYOUT.APP_HEADER.GREETING</span>,
          {{ user?.FirstName }}!
            <img [src]="flagIcon" alt="currency-flag" />
        </h4>
        <ng-container *ngFor="let profileRoute of profileRoutes">
          <span *ngIf="profileRoute.routerCall !== 'toOrdersToApprove'">
            <a
              *ngIf="profileRoute.showInDropdown"
              class="nav-item dropdown-item cursor-pointer"
              [ngClass]="{ active: isRouteActive(profileRoute.url) }"
              (click)="context.router[profileRoute.routerCall]()"
              >{{ profileRoute.displayText }}</a
            >
          </span>
        </ng-container>
        <div *ngIf="!isSSO" class="dropdown-divider"></div>
        <a
          class="nav-item dropdown-item cursor-pointer"
          *ngIf="!isSSO"
          (click)="logout()"
          href="/login"
          translate
        >
          <fa-icon [icon]="faSignOutAlt"></fa-icon> LAYOUT.APP_HEADER.LOGOUT
        </a>
      </div>
    </li>
  </ul>
  <li>
      <!-- Order -->
<ng-container *ngIf="!user.IsAnonymous">
  <ul
    class="navbar-nav">
    <li
    class="cursor-pointer"
      ngbDropdown
      placement="bottom-right"
    >
      <div
        class="sidebar-action dropdown-toggle text-nowrap"
        id="account-dropdown"
        ngbDropdownToggle
      >
        <span
          class="fa-layers-envelope"
          [ngbPopover]="OrdersToApproveContent"
          #ordersToApprovePopover="ngbPopover"
          placement="bottom-right"
          popoverClass="orders-awaiting-approval-popover bg-info"
          triggers="manual"
          translate
        >
          LAYOUT.APP_HEADER.ORDERS
        </span>
        <ng-template #OrdersToApproveContent>
          <div (click)="routeToOrdersToApprove($event)" class="card">
            <div class="card-body p-0">
              <h5 class="card-header p-2 mb-3" translate>
                <ocm-order-status-icon
                  status="AwaitingApproval"
                ></ocm-order-status-icon>
                LAYOUT.APP_HEADER.NEEDS_ATTENTION
              </h5>
              <h4 class="card-subtitle mb-2 text-muted p-2">
                <span translate>LAYOUT.APP_HEADER.AWAITING_ORDERS_1</span>
                {{ numberOfOrdersToApprove }}
                <span translate>LAYOUT.APP_HEADER.AWAITING_ORDERS_2</span>
              </h4>
            </div>
          </div>
        </ng-template>
        <fa-layers class="fa-fw mr-auto ml-2 text-medium">
          <fa-icon [icon]="faBoxOpen"></fa-icon>
          <fa-layers-counter
            *ngIf="numberOfOrdersToApprove"
            class="badge__counter--large"
            [content]="numberOfOrdersToApprove"
          >
          </fa-layers-counter>
        </fa-layers>
      </div>
      <div
        class="dropdown__acount"
        aria-labelledby="account-dropdown"
        ngbDropdownMenu
      >
        <ng-container *ngFor="let orderRoute of orderRoutes">
          <span *ngIf="orderRoute.routerCall !== 'toOrdersToApprove'">
            <a
              *ngIf="orderRoute.showInDropdown"
              class="nav-item dropdown-item cursor-pointer"
              [ngClass]="{ active: activePath === orderRoute.url }"
              (click)="context.router[orderRoute.routerCall]()"
              >{{ orderRoute.displayText }}</a
            >
          </span>
          <span *ngIf="orderRoute.routerCall === 'toOrdersToApprove'">
            <a
              *ngIf="orderRoute.showInDropdown"
              class="nav-item dropdown-item cursor-pointer"
              [ngClass]="{ active: activePath === orderRoute.url }"
              (click)="context.router[orderRoute.routerCall]()"
            >
              <span>
                {{ orderRoute.displayText }}
              </span>
              <fa-layers class="fa-fw ml-n3">
                <fa-layers-counter
                  *ngIf="numberOfOrdersToApprove"
                  class="badge__counter--large"
                  [content]="numberOfOrdersToApprove"
                >
                </fa-layers-counter>
              </fa-layers>
            </a>
          </span>
        </ng-container>
      </div>
    </li>
  </ul>
</ng-container>
  <!-- Order -->
  </li>
</ul>

<h2 class="heading__category text-medium border-bottom border-medium pb-2">EXPLORE</h2>
  <ul class="navbar-nav">
    <li
      [ngClass]="{ active: activePath === '/products' }"
    >
      <a class="sidebar-action"
        (click)="context.router.toProductList()"
        translate
      >
        LAYOUT.APP_HEADER.PRODUCTS
        <fa-icon
        [icon]="faCaretRight"
      ></fa-icon>
      </a>
    </li>
    <li>
      <a
      class="sidebar-action"  
      id="suppliers-link"
        [ngClass]="{ active: activePath === '/suppliers' }"
        (click)="
          isCollapsed = !isCollapsed; context.router.toSupplierList()
        "
        translate>
        ALIAS.SUPPLIERS
        <fa-icon
        [icon]="faCaretRight"
      ></fa-icon>
        </a>
    </li>
    <li
      *ngFor="let page of staticPages"
    >
      <a class="sidebar-action"
        [ngClass]="{ active: activePath === '/' + page.Doc.Url }"
        routerLink="{{ '/' + page.Doc.Url }}"
        >{{ page.Doc.NavigationTitle }}</a
      >
    </li>
  </ul>
  </div>
<!-- shop by category -->
<ul class="category-nav__menu">
    <li>
      <h2 class="heading__category small text-medium border-bottom border-medium pb-2">CATEGORIES</h2>
    </li>
    <li
      *ngFor="let parentCategory of parentCategories"
      class="level-top parent"
      (mouseover)="hoverSetActiveParentCat(parentCategory.ID)"
    >
      <a
        class="sidebar-action"
        [ngClass]="{ 'menu-active': parentCategory.ID === activeCatID }"
        (click)="setActiveCategory(parentCategory.ID)"
        >{{ parentCategory.Name }}
        <fa-icon
          *ngIf="checkForChildren(parentCategory)"
          [icon]="faCaretRight"
        ></fa-icon>
      </a>
      <ul
        [ngClass]="{
          'menu-active': parentCategory.ID === activeCatID,
          show: checkForChildren(parentCategory)
        }"
        class="second-level-category"
      >
        <li
          *ngFor="
            let subCategory of subCategories
              | childCategoryFilter: parentCategory.ID
          "
          class="background-hover"
          [ngClass]="{
            'background-hover__parent': checkForChildren(subCategory)
          }"
          (mouseover)="hoverSetActiveSubCat(subCategory.ID)"
        >
          <a (click)="setActiveCategory(subCategory.ID)" class="sub-category"
            >{{ subCategory.Name }}
            <!-- <fa-icon *ngIf="checkForChildren(subCategory)"
                     [icon]="faCaretRight"></fa-icon> -->
          </a>
          <ul class="third-level-category">
            <li
              *ngFor="
                let subSubCategory of subSubCategories
                  | childCategoryFilter: subCategory.ID
              "
              class="background-hover"
            >
              <a
                (click)="setActiveCategory(subSubCategory.ID)"
                class="sub-category"
                >{{ subSubCategory.Name }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="background-overlay"></div>
