@import '../../../../styles/abstracts/all.scss';

.selected {
    background-color: lightgray;
    :hover {
        background-color: lightgray;
    }
}

// stick the tab panels to the top on scroll
.nav-pills {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1050;
    .nav-link {
        &.active {
            background-color: white !important;
            color: $dark !important;
            border-radius: 0px !important;
            border-bottom: 2px solid $primary;
        }
    }
}
