<form novalidate [formGroup]="addressForm" name="RegisterForm">
  <div [hidden]="suggestedAddresses && suggestedAddresses.length">
    <div *ngIf="addressError" class="text-danger">{{ addressError }}</div>
    <div class="row">
      <div [hidden]="true" class="col-md-6 form-group">
        <label class="sr-only" for="ID" translate
          >PROFILE.ADDRESS_FORM.ID</label
        >
        <input
          type="text"
          formControlName="ID"
          class="form-control"
          id="ID"
          placeholder="ID"
        />
      </div>
      <div class="col-md-6 form-group">
        <label class="sr-only" for="FirstName" translate
          >PROFILE.ADDRESS_FORM.FIRST</label
        >
        <input
          type="text"
          formControlName="FirstName"
          class="form-control"
          id="FirstName"
          placeholder="First Name"
          autofocus="true"
          autocomplete="off"
          showErrors
        />
      </div>
      <div class="col-md-6 form-group">
        <label class="sr-only" for="LastName" translate
          >PROFILE.ADDRESS_FORM.LAST</label
        >
        <input
          type="text"
          formControlName="LastName"
          class="form-control"
          id="LastName"
          placeholder="Last Name"
          autocomplete="off"
          showErrors
        />
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="Street1" translate
        >PROFILE.ADDRESS_FORM.ADDRESS1</label
      >
      <input
        type="text"
        formControlName="Street1"
        class="form-control"
        id="Street1"
        placeholder="Address 1"
        autocomplete="off"
        showErrors
      />
    </div>
    <div class="form-group">
      <label class="sr-only" for="Street2" translate
        >PROFILE.ADDRESS_FORM.ADDRESS2</label
      >
      <input
        type="text"
        formControlName="Street2"
        class="form-control"
        id="Street2"
        placeholder="Address 2"
        autocomplete="off"
        showErrors
      />
    </div>
    <div class="row">
      <div class="col-md-5 form-group">
        <label class="sr-only" for="City" translate
          >PROFILE.ADDRESS_FORM.CITY</label
        >
        <input
          type="text"
          formControlName="City"
          class="form-control"
          id="City"
          placeholder="City"
          autocomplete="off"
          showErrors
        />
      </div>
      <div class="col-md-3 form-group">
        <label class="sr-only" for="State" translate
          >PROFILE.ADDRESS_FORM.STATE</label
        >
        <select
          *ngIf="stateOptions.length !== 0"
          formControlName="State"
          class="custom-select"
          id="State"
          showErrors
        >
          <option [ngValue]="null" disabled translate>
            PROFILE.ADDRESS_FORM.STATE
          </option>
          <option *ngFor="let State of stateOptions" [value]="State">
            {{ State }}
          </option>
        </select>
        <input
          *ngIf="stateOptions.length === 0"
          type="text"
          formControlName="State"
          class="form-control"
          id="State"
          autocomplete="off"
          showErrors
        />
      </div>
      <div class="col-md-4 form-group">
        <label class="sr-only" for="zipCode" translate
          >PROFILE.ADDRESS_FORM.ZIP</label
        >
        <input
          type="text"
          formControlName="Zip"
          class="form-control"
          id="zipCode"
          placeholder="Zip"
          autocomplete="off"
          showErrors
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-6 form-group"
        ngbTooltip="You are only able to ship to {{
          getCountryName(homeCountry)
        }} addresses."
      >
        <label class="sr-only" for="country" translate
          >PROFILE.ADDRESS_FORM.COUNTRY</label
        >
        <select
          formControlName="Country"
          class="custom-select"
          id="Country"
          showErrors
          disabled
          (change)="onCountryChange($event)"
        >
          <option [ngValue]="homeCountry" [selected]="homeCountry" translate>
            {{ getCountryName(homeCountry) }}
          </option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label class="sr-only" for="Phone" translate
          >PROFILE.ADDRESS_FORM.PHONE</label
        >
        <input
          type="text"
          formControlName="Phone"
          class="form-control"
          id="Phone"
          placeholder="Phone Number"
          autocomplete="off"
          showErrors
        />
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-12">
        <form
          novalidate
          [formGroup]="shouldSaveAddressForm"
          name="RegisterForm"
        >
          <div *ngIf="showOptionToSave && addressForm.dirty" class="form-check">
            <label
              class="sr-only form-check-label"
              for="shouldSaveAddress"
              translate
              >PROFILE.ADDRESS_FORM.SAVE</label
            >
            <input
              type="checkbox"
              formControlName="shouldSaveAddress"
              class="form-check-input"
              id="shouldSaveAddress"
            />
            <span translate>PROFILE.ADDRESS_FORM.SAVE_ADDRESS</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="suggestedAddresses?.length > 0">
    <address-suggestion
      [suggestedAddresses]="suggestedAddresses"
      (selectedAddress)="useSuggestedAddress($event.detail)"
    ></address-suggestion>
  </div>
  <div class="d-flex justify-content-start align-items-center">
    <button
      type="button"
      (click)="onSubmit()"
      [disabled]="!addressForm.valid"
      id="address-save-button"
      class="btn btn-secondary btn-sm mr-2"
    >
      {{ btnText }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-danger"
      (click)="dismissForm()"
      translate
    >
      PROFILE.ADDRESS_FORM.CANCEL
    </button>
  </div>
</form>
