<div class="logged-out__container">
  <div class="logged-out__card">
    <img
      class="img-fluid"
      width="300px"
      alt="{{ appName }}"
      [src]="appConfig.theme.logoSrc"
    />
    <h3 class="text-center text-gradient headline-text" translate>
      AUTHENTICATION.FORGOT_PASSWORD.HEADER
    </h3>
    <span class="mb-3" translate>AUTHENTICATION.FORGOT_PASSWORD.SUBHEADER</span>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      name="ResetEmail"
      autocomplete="off"
      novalidate
    >
      <div class="form-group">
        <label for="email" class="sr-only" translate>COMMON.EMAIL</label>
        <input
          formControlName="email"
          id="email"
          type="text"
          class="form-control"
          placeholder="Email"
          autocapitalize="off"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="username" class="sr-only">COMMON.USERNAME</label>
        <input
          formControlName="username"
          id="username"
          type="text"
          class="form-control"
          placeholder="Username"
          autocapitalize="off"
        />
      </div>
      <button
        id="submitBtn"
        type="submit"
        class="btn btn-lg btn-primary btn-block"
        translate
      >
        AUTHENTICATION.FORGOT_PASSWORD.SEND_EMAIL
      </button>
    </form>
    <button
      type="button"
      class="btn btn-link align-self-center"
      routerLink="/login"
      translate
    >
      AUTHENTICATION.FORGOT_PASSWORD.LOGIN
    </button>
  </div>
</div>
