<div *ngIf="priceScheduleEditable" class="container-fluid mb-5">
  <div class="row pt-3">
    <div class="col-md-5" *ngIf="priceScheduleEditable?.PriceBreaks.length > 0">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th translate>ADMIN.PRODUCT_EDIT.PRICE</th>
            <th translate>ADMIN.PRODUCT_EDIT.QUANTITY</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let priceBreak of priceScheduleEditable.PriceBreaks;
              let i = index
            "
          >
            <td>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{ currency?.Symbol }}</span>
                </div>
                <input
                  [attr.disabled]="readonly ? true : null"
                  type="number"
                  class="form-control currency"
                  id="Price"
                  aria-describedby="Price"
                  [value]="priceBreak?.Price"
                  min="1"
                  step="0.01"
                  (change)="updateExistingBreakPrice($event, i)"
                  placeholder="{{ 'ADMIN.PRODUCT_EDIT.PRICE' | translate }} ({{
                    currency?.Name
                  }})"
                /><span class="required-field" *ngIf="isRequired">&nbsp;*</span>
              </div>
            </td>
            <td>{{ getPriceBreakRange(i) }}</td>
            <td>
              <fa-icon
                *ngIf="i !== 0 && !readonly"
                (click)="deletePriceBreak(priceBreak)"
                class="icon-button ripple hover-btn"
                [icon]="faTrash"
              ></fa-icon>
            </td>
          </tr>
          <tr *ngIf="isAddingPriceBreak">
            <td>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ currency?.Symbol }}</span>
                  </div>
                  <input
                    [attr.disabled]="readonly ? true : null"
                    type="number"
                    class="form-control currency"
                    id="Price"
                    aria-describedby="Price"
                    min="1"
                    step="0.01"
                    [value]="newPriceBreak.Price"
                    (change)="updateNewBreak($event, 'Price')"
                    placeholder="{{
                      'ADMIN.PRODUCT_EDIT.PRICE' | translate
                    }} ({{ currency?.Name }})"
                  />
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="input-group">
                  <input
                    [attr.disabled]="readonly ? true : null"
                    type="number"
                    class="form-control currency"
                    id="Quantity"
                    aria-describedby="Quantity"
                    min="2"
                    [value]="newPriceBreak.Quantity"
                    (change)="updateNewBreak($event, 'Quantity')"
                    placeholder="{{
                      'ADMIN.PRODUCT_EDIT.QUANTITY' | translate
                    }}"
                  />
                </div>
              </div>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addPriceBreak()"
                translate
              >
                ADMIN.PRODUCT_EDIT.ADD
              </button>
            </td>
          </tr>
          <tr *ngIf="!isAddingPriceBreak && !readonly">
            <td colspan="3">
              <button
                type="button"
                class="w-100 btn btn-primary"
                (click)="isAddingPriceBreak = true"
                translate
              >
                ADMIN.PRODUCT_EDIT.ADD_NEW_BREAK
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group mt-3">
        <label for="UseCumulativeQuantity" translate
          >ADMIN.PRODUCT_EDIT.PRICE_BREAK_APPLICATION</label
        >
        <div
          *ngIf="_specCount === 0 && _variantCount === 0"
          class="d-flex align-items-center mb-2"
        >
          <fa-icon [icon]="faExclamationCircle"></fa-icon
          ><small class="ml-2" translate=""
            >ADMIN.PRODUCT_EDIT.APPLY_INFO_TEXT</small
          >
        </div>
        <select
          [attr.disabled]="readonly ? true : null"
          type="dropdown"
          class="form-control"
          id="UseCumulativeQuantity"
          aria-describedby="Use Cumulative Quantity"
          (change)="handleUpdateUseCumulativeQuantity($event)"
        >
          <option
            [selected]="priceScheduleEditable.UseCumulativeQuantity == true"
            [value]="true"
            [disabled]="_specCount === 0 && _variantCount === 0"
            translate
          >
            ADMIN.PRODUCT_EDIT.APPLY_ACROSS_VARIATIONS
          </option>
          <option
            [selected]="priceScheduleEditable.UseCumulativeQuantity == false"
            [value]="false"
            translate
          >
            ADMIN.PRODUCT_EDIT.APPLY_INDIVIDUAL_VARIATIONS
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
