sudo: required
dist: trusty
language: node_js
node_js:
  - '10.9.0'
  
addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g @angular/cli

script:
  - cd src/UI/Buyer
  - npm install
  - ng build --configuration=production
  - ng test --watch=false
  - cd ../Seller
  - npm install
  - ng build --configuration=production
  - ng test --watch=false