<div *ngFor="let categorySelection of _categorySelections; let i = index">
  <div class="group d-flex justify-content-between">
    <span class="category-dropdown">
      <select
        class="form-control input-sm"
        type="select"
        required
        [disabled]="_categoriesDisabled"
        (change)="makeSelection($event, 'ServiceCategory', i)"
        [value]="categorySelection.ServiceCategory"
      >
        <option
          *ngFor="let option of _serviceCatagoryConfig?.Items"
          [selected]="categorySelection.ServiceCategory == option.Value"
          [value]="option.Value"
        >
          {{ option.Text }}
        </option>
      </select>
    </span>
    <span class="category-dropdown">
      <select
        class="form-control input-sm"
        type="select"
        (change)="makeSelection($event, 'VendorLevel', i)"
        [disabled]="_categoriesDisabled"
        required
        [value]="categorySelection.VendorLevel"
      >
        <option
          *ngFor="let option of _vendorLevelConfig?.Items"
          [selected]="categorySelection.VendorLevel == option.Value"
          [value]="option.Value"
        >
          {{ option.Text }}
        </option>
      </select>
    </span>
    <button
      class="btn brand-button--danger"
      [disabled]="_categoriesDisabled"
      (click)="removeCategory(i)"
    >
      remove
    </button>
  </div>
  <span
    class="error-message"
    *ngIf="isSecondDuplicateCategory(categorySelection, _categorySelections, i)"
    >This category selection is already included on the supplier</span
  >
  <span
    class="error-message"
    *ngIf="!categorySelection.ServiceCategory || !categorySelection.VendorLevel"
    >Please complete category selection</span
  >
</div>
<span class="error-message" *ngIf="areNoCategories">
  A supplier must but a part of at least one category</span
>
<div>
  <button
    class="btn brand-button mt-1"
    *ngIf="canAddAnotherCategory && !_categoriesDisabled"
    (click)="addCategory()"
  >
    Add category
  </button>
</div>
