<div *ngIf="_liGroupedByShipFrom?.length > 0 && !createShipment">
  <div
    class="card border shadow-sm mb-4"
    *ngFor="let liGroup of _liGroupedByShipFrom; let shipFromIndex = index"
  >
    <div class="card-header py-2 px-3">
      <div class="row">
        <div class="col">
          <small class="font-weight-bolder text-uppercase text-muted" translate
            >ADMIN.LINE_ITEMS.SHIP_FROM</small
          >
          <h5 class="card-title mb-0">
            {{
              liGroup[0]?.ShipFromAddress?.CompanyName ||
                liGroup[0]?.Product?.xp?.Facets?.supplier[0]
            }}
            <small
              *ngIf="liGroup[0]?.ShipFromAddress"
              class="text-muted d-block"
            >
              <span
                >{{ liGroup[0].ShipFromAddress?.Street1
                }}<span *ngIf="liGroup[0].ShipFromAddress?.Street2"
                  >, {{ liGroup[0].ShipFromAddress.Street2 }}</span
                >, {{ liGroup[0].ShipFromAddress?.City }},
                {{ liGroup[0].ShipFromAddress?.State }}
                {{ liGroup[0].ShipFromAddress?.Zip }}</span
              >
            </small>
          </h5>
        </div>
        <div class="col text-end">
          <small class="font-weight-bolder text-uppercase text-muted" translate
            >ADMIN.LINE_ITEMS.SHIP_METHOD</small
          >
          <h5 class="card-title mb-0">{{ getShipMethodString(liGroup[0]) }}</h5>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
    <div class="table-responsive">
      <table
        class="table table-sm table-bordered table-hover display-table mb-0"
      >
        <thead>
          <tr>
            <th translate>ADMIN.LINE_ITEMS.PRODUCT</th>
            <th translate>ADMIN.LINE_ITEMS.DESCRIPTION</th>
            <th translate>ADMIN.LINE_ITEMS.QUANTITY</th>
            <th translate>ADMIN.LINE_ITEMS.COMMENTS</th>
            <th translate>ADMIN.LINE_ITEMS.STATUS</th>
            <th translate>ADMIN.LINE_ITEMS.TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let li of liGroup; let lineItemIndex = index">
            <td
              class="align-middle d-flex justify-content-start align-items-center"
            >
              <img
                [id]="i"
                [src]="li.xp?.ImageUrl || getImageUrl(li.ID)"
                width="auto"
                height="80px"
                class="me-2"
              />
              <h6>{{ li.ID }}</h6>
            </td>
            <td class="align-middle">
              <div class="d-flex align-items-center">
                <h6>
                  <span>{{ li | productNameWithSpecs }} </span>
                  <small class="text-muted d-block">{{
                    li.Variant?.ID || li.Product.ID
                  }}</small>
                  <p
                    class="mb-0 mt-2"
                    *ngFor="let spec of getVariableTextSpecs(li)"
                  >
                    {{ spec?.Name }}: {{ spec.Value }}
                  </p>
                </h6>
              </div>
            </td>
            <td class="align-middle text-center">
              {{ li.Quantity }}
            </td>
            <td>{{ li.xp.SupplierComments }}</td>
            <td class="align-middle">
              {{ getLineItemStatusDisplay(li) }}
            </td>
            <td class="align-middle">
              {{ li.LineTotal | currency : _order?.xp?.currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
