.nav-link {
  border: 1px solid transparent;
  transition: border-color .15s ease-out;
  &:hover,
  &:focus {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  &:active,
  &.active {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
    color: #fff;
  }
}