<div class="d-md-none" ngbDropdown>
  <button
    class="btn btn-block btn-outline-light mb-2"
    id="myProfileNav"
    ngbDropdownToggle
    translate
  >
    PROFILE.PROFILE_NAV.ACC_SELECTIONS
  </button>
  <div ngbDropdownMenu aria-labelledby="myProfileNav" class="w-100 text-center">
    <button
      *ngFor="let profileRoute of profileRoutes"
      class="dropdown-item"
      (click)="context.router[profileRoute.routerCall]()"
    >
      {{ profileRoute.displayText }}
    </button>
  </div>
</div>

<ul class="nav nav-fill flex-column d-none d-md-flex gap-2">
  <li
    *ngFor="let profileRoute of profileRoutes"
    class="nav-item cursor-pointer text-left"
  >
    <a
      class="nav-link"
      [ngClass]="{ active: activePath === profileRoute }"
      (click)="context.router[profileRoute.routerCall]()"
      >{{ profileRoute.displayText }}</a
    >
  </li>
</ul>
