<fa-icon
  *ngIf="statusIconMapping[status]"
  [ngClass]="{
    'text-success':
      status === 'Shipped' || status === 'Completed' || status === 'Complete',
    'text-warning':
      status === 'AwaitingApproval' ||
      status === 'Processing' ||
      status === 'Backordered' ||
      status === 'Pending' ||
      status === 'ReturnRequested' ||
      status === 'CancelRequested' ||
      status === 'PartiallyShipped' ||
      status === 'PartialQtyApproved' ||
      status === 'PartialQtyComplete',
    'text-info':
      status === 'Open' ||
      status === 'Requested' ||
      status === 'NoClaim' ||
      status === 'Submitted' ||
      status === 'Approved',
    'text-danger':
      status === 'Declined' ||
      status === 'Denied' ||
      status === 'Canceled' ||
      status === 'CancelDenied' ||
      status === 'ReturnDenied' ||
      status === 'Returned'
  }"
  [icon]="statusIconMapping[status]"
></fa-icon>
