<fa-icon
  *ngIf="statusIconMapping[status]"
  [ngClass]="{
    'text-success':
      status === 'Shipped' || status === 'Completed' || status === 'Complete',
    'text-warning':
      status === 'AwaitingApproval' ||
      status === 'Processing' ||
      status === 'Backordered' ||
      status === 'Pending' ||
      status === 'PartiallyShipped' ||
      status === 'PartialQtyApproved' ||
      status === 'PartialQtyComplete',
    'text-info':
      status === 'Open' ||
      status === 'Requested' ||
      status === 'Submitted' ||
      status === 'Approved',
    'text-danger': status === 'Declined' || status === 'Canceled'
  }"
  [icon]="statusIconMapping[status]"
></fa-icon>
