<ocm-profile-nav>
  <form (ngSubmit)="updatePassword()" novalidate [formGroup]="form" name="form">
    <div>
      <div class="form-group">
        <label for="currentPassword" class="sr-only" translate
          >PROFILE.CHANGE_PASSWORD.CURRENT</label
        >
        <input
          formControlName="currentPassword"
          id="currentPassword"
          class="form-control"
          type="password"
          placeholder="Current Password"
          autocomplete="off"
          showErrors
        />
      </div>
      <div class="form-group">
        <label for="newPassword" class="sr-only" translate
          >PROFILE.CHANGE_PASSWORD.NEW</label
        >
        <input
          formControlName="newPassword"
          id="newPassword"
          class="form-control"
          type="password"
          placeholder="New Password"
          autocomplete="off"
          showErrors
        />
      </div>
      <div class="form-group">
        <label for="confirmNewPassword" class="sr-only" translate
          >PROFILE.CHANGE_PASSWORD.CONFIRM</label
        >
        <input
          formControlName="confirmNewPassword"
          id="confirmNewPassword"
          class="form-control"
          type="password"
          placeholder="Confirm New Password"
          autocomplete="off"
          showErrors
        />
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-primary btn-block"
      translate
    >
      PROFILE.CHANGE_PASSWORD.SAVE
    </button>
  </form>
</ocm-profile-nav>
