// pay no attention to these temporary styles

.container {
  height: calc(100vh - 122.4px); // navbar height + a nudge upward
  width: 100%;
  display: grid;
  place-items: center center;

  h1 {
    line-height: 1;
    font-size: clamp(3rem, 10vw, 8rem);
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    animation: float-in .5s .5s ease-in-out backwards;
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
}