// pay no attention to these temporary styles

.container {
  height: calc(100vh - 122.4px); // navbar height + a nudge upward
  width: 100%;
  display: grid;
  place-items: center center;

  h1 {
    line-height: 1;
    font-size: clamp(3rem, 10vw, 8rem);
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    animation: float-in .5s .5s ease-in-out backwards;
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
}

// h1 {
//   position: relative;
//   &::after{
//   content: "";
//   z-index: -1;
//   position: absolute;
//   height: 300px;
//   width: 300px;
//   background-color: white;
//   transform: rotate(45deg);
// 	background-image:
// 		repeating-linear-gradient(
// 			-45deg,
// 			white,
// 			white 0.42rem,
// 			transparent 0.42rem, 
// 			transparent 0.98rem,
// 			white 0.98rem,
// 			white 1rem),
// 		repeating-linear-gradient(
// 			45deg,
// 			white,
// 			white 0.42rem,
// 			transparent 0.42rem, 
// 			transparent 0.98rem,
// 			white 0.98rem,
// 			white 1rem),
// 		repeating-linear-gradient(
// 			45deg,
// 			transparent,
// 			transparent 0.62rem,
// 			var(--light) 0.62rem, 
// 			var(--light) 0.78rem,
// 			transparent 0.78rem,
// 			transparent 1rem),
// 		repeating-linear-gradient(
// 			-45deg,
// 			transparent,
// 			transparent 0.62rem,
// 			var(--light) 0.62rem, 
// 			var(--light) 0.78rem,
// 			transparent 0.78rem,
// 			transparent 1rem);
// 	background-size: 1rem 1rem;
// }
// }