<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="signed" translate>PROFILE.CERT_FORM.SIGNED</label>
        <div class="input-group">
          <input
            formControlName="SignedDate"
            class="form-control border-right-0"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            #signed="ngbDatepicker"
            id="signed"
            showErrors
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="signed.toggle()"
              type="button"
            >
              <fa-icon [icon]="faCalendar" id="calendar-addon-from"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="expired" translate>PROFILE.CERT_FORM.EXP_DATE</label>
        <div class="input-group">
          <input
            formControlName="ExpirationDate"
            class="form-control border-right-0"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            minDate="today"
            #expired="ngbDatepicker"
            showErrors
            id="expired"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="expired.toggle()"
              type="button"
            >
              <fa-icon [icon]="faCalendar" id="calendar-addon-to"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
        <label for="expired" translate>PROFILE.CERT_FORM.PDF</label>
        <div class="input-group">
          <input
            formControlName="pdf"
            type="file"
            class="form-control border-right-0"
            accept=".pdf,image/*"
            (change)="onFileChange($event)"
            showErrors
          />
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-center">
    <button type="submit" class="btn btn-primary btn-sm mr-2" [disabled]="this.form.status === 'INVALID'" translate>
      PROFILE.CERT_FORM.SAVE
    </button>
    <button
      type="button"
      class="btn btn-link text-danger"
      (click)="onDismiss()"
      translate
    >
      PROFILE.CERT_FORM.CANCEL
    </button>
  </div>
</form>
