<form
  (ngSubmit)="onSubmit()"
  novalidate
  [formGroup]="addressForm"
  name="AddressForm"
>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="ID"
      >ID</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="ID"
        class="form-control"
        placeholder="(optional)"
        id="ID"
      />
      <span *ngIf="hasPatternError('ID')" class="error-message"
        >ID can only contain characters Aa-Zz 0-9 - _ (no spaces)</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="country"
      >Country</label
    >
    <div class="col-sm-9">
      <select
        (change)="onCountryChange($event)"
        formControlName="Country"
        class="form-control"
        id="Country"
      >
        <option [ngValue]="null" disabled>Country</option>
        <option
          *ngFor="let country of countryOptions"
          [value]="country.abbreviation"
        >
          {{ country.label }}
        </option>
      </select>
      <span *ngIf="hasRequiredError('Country')" class="error-message"
        >Country is required</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label
      class="col-sm-3 control-label font-weight-bold mt-1"
      for="AddressName"
      >Address Name</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="AddressName"
        class="form-control"
        id="AddressName"
        placeholder="(optional)"
        autofocus="true"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="FirstName"
      >First Name</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="FirstName"
        class="form-control"
        id="FirstName"
        autofocus="true"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('FirstName')" class="error-message"
        >First Name is required</span
      >
      <span *ngIf="hasPatternError('FirstName')" class="error-message"
        >Name can only contain characters Aa-Zz 0-9 - ' .</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="LastName"
      >Last Name</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="LastName"
        class="form-control"
        id="LastName"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('LastName')" class="error-message"
        >Last Name is required</span
      >
      <span *ngIf="hasPatternError('LastName')" class="error-message"
        >Name can only contain characters Aa-Zz 0-9 - ' .</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="Street1"
      >Address 1</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="Street1"
        class="form-control"
        id="Street1"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('Street1')" class="error-message"
        >Address 1 is required</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="Street2"
      >Address 2</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="Street2"
        class="form-control"
        id="Street2"
        placeholder="(optional)"
        autocomplete="off"
      />
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="City"
      >City</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="City"
        class="form-control"
        id="City"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('City')" class="error-message"
        >City is required</span
      >
      <span *ngIf="hasPatternError('City')" class="error-message"
        >City can only contain characters Aa-Zz 0-9 - ' .
      </span>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="State"
      >State</label
    >
    <div class="col-sm-9">
      <select
        *ngIf="stateOptions.length !== 0"
        formControlName="State"
        class="form-control"
        id="State"
      >
        <option [ngValue]="null" disabled>State</option>
        <option *ngFor="let State of stateOptions" [value]="State">
          {{ State }}
        </option>
      </select>
      <input
        *ngIf="stateOptions.length === 0"
        type="text"
        formControlName="State"
        class="form-control"
        id="State"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('State')" class="error-message"
        >State is required</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="zipCode"
      >Zip Code</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="Zip"
        class="form-control"
        id="zipCode"
        autocomplete="off"
      />
      <span *ngIf="hasRequiredError('Zip')" class="error-message"
        >Zip Code is required</span
      >
      <span *ngIf="hasPatternError('Zip')" class="error-message"
        >Zip Code is invalid</span
      >
    </div>
  </div>
  <div class="row form-group">
    <label class="col-sm-3 control-label font-weight-bold mt-1" for="Phone"
      >Phone Number</label
    >
    <div class="col-sm-9">
      <input
        type="text"
        formControlName="Phone"
        class="form-control"
        id="Phone"
        placeholder="(optional)"
        autocomplete="off"
      />
      <span *ngIf="hasPatternError('Phone')" class="error-message"
        >Phone can only contain 20 numbers or "-" chars (no spaces)</span
      >
    </div>
  </div>
  <button type="submit" class="btn btn-primary w-100">{{ btnText }}</button>
</form>
