<section class="login large-paddding-top fade-in">
  <div class="text-center">
    <img
      src="assets/svg/Sitecore_logo_RGB.svg"
      width="150"
      class="img-fluid py-4"
      alt="Sitecore"
    />
    <h1 class="display-4">{{ appConfig.appname }}</h1>
  </div>
  <div class="mx-auto mt-4 login-container">
    <h3 class="text-center headline-text" translate>
      ADMIN.COMMON.ACCOUNT_LOGIN
    </h3>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      name="LoginForm"
      autocomplete="off"
      novalidate
      class="mt-4"
    >
      <div class="form-group">
        <label class="small" for="username" translate
          >ADMIN.COMMON.USERNAME</label
        >
        <input
          formControlName="username"
          id="username"
          type="text"
          class="form-control"
          placeholder="{{ 'ADMIN.COMMON.USERNAME' | translate }}"
          autocapitalize="off"
          autofocus
        />
      </div>
      <div class="form-group">
        <label class="small" for="password" translate
          >ADMIN.COMMON.PASSWORD</label
        >
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="{{ 'ADMIN.COMMON.PASSWORD' | translate }}"
          id="password"
        />
      </div>
      <div class="form-group text-center">
        <div class="checkbox">
          <label for="rememberMeId" translate>
            <input
              formControlName="rememberMe"
              type="checkbox"
              id="rememberMeId"
            />
            ADMIN.COMMON.REMEMBER_ME
          </label>
        </div>
      </div>
      <button
        id="submitBtn"
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-primary btn-lg btn-block"
        translate
      >
        ADMIN.COMMON.SUBMIT
      </button>
    </form>
    <button
      type="button"
      class="btn btn-link btn-block text-center"
      routerLink="/forgot-password"
      translate
    >
      ADMIN.COMMON.FORGOT_PASSWORD
    </button>
  </div>
</section>
