//Images with white backgrounds will be transparent
img {
  mix-blend-mode: multiply;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-quantityToReturn {
  max-width: 100px;
}

.mat-cell {
  padding: 8px 10px 8px 10px;
}

.custom-control-label.custom-control-label-sm {
  font-size: .8em;
  &::before,
  &::after {
    top: .1rem;
  }
}
