<div class="pb-3 d-flex justify-content-between">
  <div *ngIf="allowDelete">
    <delete-confirm-modal-component
      *ngIf="isDeletable"
      buttonText="{{ labelSingular | translate }}"
      (deleteConfirmed)="handleDelete()"
    >
    </delete-confirm-modal-component>
  </div>
  <div *ngIf="!allowDelete"></div>
  <div>
    <button
      *ngIf="allowDiscard && !isCreatingNew"
      [disabled]="!areChanges"
      class="btn btn-link"
      (click)="handleDiscard()"
    >
      {{
        areChanges
          ? ('ADMIN.COMMON.DISCARD_CHANGES' | translate)
          : ('ADMIN.COMMON.NO_CHANGES' | translate)
      }}
    </button>
    <button
      *ngIf="areChanges && !showConfirm"
      [disabled]="!areChanges || showConfirm || dataIsSaving"
      class="btn btn-primary"
      (click)="handleSavePressed()"
    >
      {{ getSaveText() | translate }}
    </button>
    <button
      *ngIf="showConfirm && areChanges"
      class="btn btn-primary"
      (click)="emitSave()"
      translate
    >
      ADMIN.COMMON.CONFIRM
    </button>
  </div>
  <div *ngIf="areChanges && showConfirm" class="mt-3 pb-3 border-top">
    <div class="p-4 border-radius border-primary bg-light">
      <div class="d-flex justify-content-start align-items-center">
        <fa-icon [icon]="faExclamationCircle" class="alert-icon mr-3"></fa-icon>
        <p class="mb-0 d-flex flex-column">
          <small class="font-weight-bold">
            <span translate>ADMIN.DELETE.POTENTIALLY_DESTRUCTIVE</span>
            {{ resourceName }}.</small
          >
          {{ confirmText }}
        </p>
      </div>
    </div>
  </div>
</div>
