.chip-bag {
  margin: 1rem -.25rem;
}

.chip {
  background: $gray-light;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1;
  padding: .5rem .75rem;
  margin: .25rem;
  border-radius: $border-radius;
  color: $primary-dark;
  font-weight: 500;
  transition: all 100ms ease-in-out;

  fa-icon {
    margin-left: .5rem;
  }

  &.chip-sm {
    font-size: 80%;
    padding: .25rem .5rem;
  }

  &.readonly {
    &.active {
      background: $gray-light;
      color: $medium;
    }
  }

  &.editable {
    &:hover {
      background: $primary-light;
      box-shadow: $box-shadow-sm;
    }

    &.active {
      background: $primary-dark;
      color: white;

      &:hover {
        background: $primary-light;
        color: $primary-dark;
        box-shadow: $box-shadow-sm;

        .supplier-facet-chip {
          display: none;
        }
      }
    }
  }
}