<footer class="bg-light py-4 mt-3">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 d-flex flex-column">
        <a name="Contact Support" (click)="toSupport()">
          <fa-icon class="mr-2 text-muted" [icon]="faPhone"></fa-icon>
          <span class="text-secondary" translate
            >LAYOUT.APP_FOOTER.SUPPORT</span
          >
        </a>
      </div>
      <div class="col-md-3 d-flex flex-column">
        <p
          class="text-muted font-weight-bold text-uppercase border-bottom mb-2 pb-2"
        >
          <span translate>LAYOUT.APP_FOOTER.QUESTIONS_COMMENTS</span>
        </p>
        <p class="text-muted mb-0">
          <span translate>LAYOUT.APP_FOOTER.PHONE.LABEL </span>
          <a
            class="text-secondary"
            href="tel:{{ 'LAYOUT.APP_FOOTER.PHONE.AREACODE' | translate }}{{
              'LAYOUT.APP_FOOTER.PHONE.PREFIX' | translate
            }}{{ 'LAYOUT.APP_FOOTER.PHONE.SUFFIX' | translate }}"
          >
            <span translate>LAYOUT.APP_FOOTER.PHONE.AREACODE</span>.<span
              translate
              >LAYOUT.APP_FOOTER.PHONE.PREFIX</span
            >.<span translate>LAYOUT.APP_FOOTER.PHONE.SUFFIX</span></a
          >
        </p>
        <p class="text-muted mb-0" translate>
          <span translate>LAYOUT.APP_FOOTER.EMAIL_LABEL </span>
          <a
            class="text-secondary"
            href="mailto:{{ 'LAYOUT.APP_FOOTER.EMAIL' | translate }}"
            target="_blank"
            translate
            >LAYOUT.APP_FOOTER.EMAIL</a
          >
        </p>
      </div>
      <!-- TODO: Reinstate when we are ready to support -->
      <!-- <div class="col-md-5">
        <button class="btn btn-sm btn-primary"
                (click)="submitClaim()">Submit Claim</button>
      </div> -->
    </div>
  </div>
</footer>

<div class="bg-medium">
  <div class="container py-2 text-center">
    <small class="text-dark" translate>LAYOUT.APP_FOOTER.CREATED_BY</small>
  </div>
</div>
