@import '../../../../styles/main.scss';
.spec-option {
    border-top: 1px solid $light;
    &:last-of-type {
        border-top: none;
    }
}

.variant-overlay {
    z-index: 1234;
    position: absolute;
    background-color: rgba(white, 0.7);
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:var(--dark);
    text-align: center;
    span {
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.product-variations {
    position: relative;
    height: 100%;
    opacity: 1;
    transition: height 350ms ease-in-out, opacity 350ms ease-in-out;
    &.hidden {
        height: 0;
        opacity: 0;
    }
}

.product-spec {
    box-shadow: 0 2px 0 hsl(230, 20%, 94%);
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    @include media-breakpoint-up(lg) {
        max-width: 30%;
    }
}

.card-deck {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; 
    align-items: stretch;
}
.card-deck .card {
    display: block;
    margin-bottom: 1rem;
    flex-basis: 100%; /* change this value for each breakpoint*/
    @include media-breakpoint-up(sm) {
        flex-basis: 75%;
    };
    @include media-breakpoint-up(md) {
        flex-basis: 33%;
    };
    @include media-breakpoint-up(lg) {
        flex-basis: 25%;
    };
}

.add-variation {
    max-width: 100%;
    @include media-breakpoint-up(sm) {
        max-width: 75%;
    }
    @include media-breakpoint-up(md) {
        max-width: 50%;
    }
}

.selected-variant {
    background-color: lightgrey;
}

.product-image {
    max-width: 80px;
    &.selected-image {
        border: 2px solid $primary;
    }
}

colgroup {
    .width-60 {
        width: 60%;
    }
    .width-20 {
        width: 20%
    }
    .width-25 {
        width: 25%
    }
    .width-40 {
        width: 40%
    }
}

.custom-label-height {
    line-height: 1.5rem
}

.variations-scrollbar {
    width: 100%; 
    max-height: 600px
}

.variant-img {
    max-width: 50px
}