<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Are you sure you want to delete this?
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">This action cannot be undone.</div>
  <div
    class="modal-footer w-100 d-flex justify-content-space-between justify-content-between"
  >
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">
      No, Do Not Delete
    </button>
    <button
      type="button"
      class="btn btn-primary--danger"
      (click)="modal.close()"
    >
      Yes, Delete
    </button>
  </div>
</ng-template>
<button class="btn btn-link text-danger" (click)="open(content)">
  {{ 'ADMIN.DELETE.DELETE' | translate }} {{ buttonText | translate }}
</button>
