<div *ngIf="productForm" class="container-fluid resource-edit">
  <div
    *ngIf="
      productInReviewNotifications?.length > 0 &&
      userContext?.UserType === 'SUPPLIER'
    "
    class="
      alert alert-warning
      d-flex
      justify-content-start
      align-items-center
      set-to-top
    "
  >
    <fa-icon [icon]="faExclamationCircle" class="mr-3"></fa-icon>
    <p class="mb-0">
      A monitored field on this product has been edited and is pending seller
      review. Until a seller approves the changes, the product is inactive, and
      unorderable. Once this notice is gone, your product has been re-activated
      and is orderable once again.
    </p>
  </div>
  <ng-container *ngIf="userContext?.UserType === 'SELLER'">
    <div
      *ngFor="let notification of productInReviewNotifications"
      class="alert alert-warning set-to-top"
    >
      <div
        class="
          pb-3
          border-bottom
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <div class="d-flex justify-content-start align-items-center">
          <fa-icon [icon]="faExclamationCircle" class="mr-3"></fa-icon>
          <p class="mb-0">
            {{ notification?.Doc?.Product?.FieldModified }} has been edited.
          </p>
        </div>
        <div>
          <button
            (click)="reviewMonitoredFieldChange('ACCEPTED', notification)"
            class="btn btn-primary"
          >
            Accept
          </button>
          <!-- TODO: Reinstate the rejected button once functionality can handle the repercussions. -->
          <!-- <button (click)="reviewMonitoredFieldChange('REJECTED')"
                  class="btn btn-outline-danger ml-2">Reject</button> -->
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-start">
        <div class="d-flex flex-column">
          <small class="mb-0 text-uppercase text-muted font-weight-bolder"
            >Previous Value</small
          >
          <pre><code>{{notification?.Doc?.Product?.PreviousValue | json}}</code></pre>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-column">
            <small class="mb-0 text-uppercase text-muted font-weight-bolder"
              >New Value</small
            >
            <pre>{{ notification?.Doc?.Product?.CurrentValue | json }}</pre>
          </div>
        </div>
      </div>
      <small class="mb-0 font-italic"
        >Edited by {{ notification?.Doc?.History?.ModifiedBy?.Name }} of
        {{ notification?.Doc?.Supplier?.Name }} on
        {{ notification?.Doc?.History?.DateModified | date }}</small
      >
    </div>
  </ng-container>
  <form [formGroup]="productForm">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      (navChange)="tabChanged($event, _superHSProductEditable?.Product?.ID)"
      class="nav-pills border-top border-bottom nav-fill"
    >
      <!-- Product Details -->
      <li [ngbNavItem]="0" id="0">
        <a
          class="text-muted d-flex justify-content-center align-items-center"
          ngbNavLink
          translate
          >ADMIN.PRODUCT_EDIT.PRODUCT
          <fa-icon
            class="tab-status-icon text-danger ml-1"
            [icon]="faExclamationCircle"
            *ngIf="isCreatingNew && !productDetailsTabIsValid()"
          >
          </fa-icon>
          <fa-icon
            class="tab-status-icon text-success ml-1"
            [icon]="faCheckCircle"
            *ngIf="isCreatingNew && productDetailsTabIsValid()"
          >
          </fa-icon>
        </a>
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <div class="row pt-3">
              <div class="col-md-8 form-group">
                <span class="required-field">* required fields</span>
                <div class="card bg-white shadow-sm p-4 mt-3">
                  <!-- Product Name -->
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h6 class="font-weight-medium" translate>
                      ADMIN.PRODUCT_EDIT.DETAILS
                    </h6>
                    <fa-icon
                      class="tab-status-icon text-danger"
                      [icon]="faAsterisk"
                      *ngIf="
                        isCreatingNew &&
                        isRequired('Name') &&
                        !this.productForm.controls['Name']?.valid
                      "
                    >
                    </fa-icon>
                    <fa-icon
                      class="text-success"
                      [icon]="faCheckCircle"
                      *ngIf="
                        isCreatingNew &&
                        isRequired('Name') &&
                        this.productForm.controls['Name']?.valid
                      "
                    >
                    </fa-icon>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Name" translate
                        >ADMIN.PRODUCT_EDIT.NAME <span class="required-field">*</span></label
                      >
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="text"
                        class="form-control"
                        id="Name"
                        showErrors
                        aria-describedby="Name"
                        maxlength="100"
                        formControlName="Name"
                        (input)="handleUpdateProduct($event, 'Product.Name')"
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.ENTER_NAME' | translate
                        }}"
                      />
                      <small
                        class="text-danger"
                        *ngIf="productForm.controls.Name.value?.length === 100"
                        translate
                        >ADMIN.PRODUCT_EDIT.NAME_MAX_LENGTH</small
                      >
                    </div>
                    <div [hidden]="isCreatingNew" class="form-group col-md-6">
                      <label for="ProductType" translate
                        >ADMIN.PRODUCT_EDIT.PRODUCT_TYPE <span class="required-field">*</span></label
                      >
                      <select
                        [attr.disabled]="readonly ? true : null"
                        type="dropdown"
                        class="form-control"
                        formControlName="ProductType"
                        id="ProductType"
                        aria-describedby="Product type"
                        (change)="
                          handleUpdateProduct($event, 'Product.xp.ProductType')
                        "
                      >
                        <option [ngValue]="null" disabled translate>
                          ADMIN.PRODUCT_EDIT.CHOOSE_PRODUCT_TYPE
                        </option>
                        <option
                          *ngFor="let product of availableProductTypes"
                          [selected]="productType === product"
                          [ngValue]="product"
                        >
                          {{ product }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <!-- /Product Name -->
                  <hr />
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.PRODUCT_SKU
                    <small *ngIf="isCreatingNew" class="d-block">
                      <fa-icon
                        class="color-beige"
                        [icon]="faExclamationCircle"
                      ></fa-icon>
                      <span translate> ADMIN.PRODUCT_EDIT.NO_PROVIDED_SKU</span>
                    </small>
                  </h6>
                  <div class="form-group w-50" *ngIf="isCreatingNew">
                    <input
                      type="text"
                      class="form-control"
                      id="ID"
                      showErrors
                      aria-describedby="ID"
                      maxlength="100"
                      formControlName="ID"
                      (input)="handleUpdateProduct($event, 'Product.ID')"
                      placeholder="{{
                        'ADMIN.PRODUCT_EDIT.ENTER_PRODUCT_ID' | translate
                      }}"
                    />
                  </div>
                  <div
                    class="form-group w-50"
                    *ngIf="!isCreatingNew && _superHSProductStatic"
                  >
                    <label for="ID" translate
                      >ADMIN.PRODUCT_EDIT.PRODUCT_ID</label
                    >
                    <input
                      class="form-control"
                      value="{{ _superHSProductStatic.Product.ID }}"
                      disabled
                    />
                  </div>
                  <div
                    *ngIf="productInReviewNotifications?.length <= 0"
                    class="form-group"
                  >
                    <label for="Active" translate
                      >ADMIN.PRODUCT_EDIT.ACTIVE</label
                    >
                    <label class="d-block switch mb-0">
                      <input
                        class="form-check-input"
                        [attr.disabled]="readonly ? true : null"
                        type="checkbox"
                        (click)="handleUpdateProduct($event, 'Product.Active')"
                        [checked]="_superHSProductEditable?.Product.Active"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <!-- Unit Of Measure -->
                <div class="card bg-white shadow-sm p-4 mt-3">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <h6 class="font-weight-medium" translate>
                      ADMIN.PRODUCT_EDIT.UNIT_OF_MEASURE
                    </h6>
                    <fa-icon
                      class="tab-status-icon text-danger"
                      [icon]="faAsterisk"
                      *ngIf="isCreatingNew && !unitOfMeasureValid()"
                    >
                    </fa-icon>
                    <fa-icon
                      class="text-success"
                      [icon]="faCheckCircle"
                      *ngIf="isCreatingNew && unitOfMeasureValid()"
                    >
                    </fa-icon>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="UnitOfMeasureQty" translate
                        >ADMIN.PRODUCT_EDIT.QUANTITY_PER_UNIT <span class="required-field">*</span>
                      </label>
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="number"
                        class="form-control"
                        id="UnitOfMeasureQty"
                        min="1"
                        aria-describedby="Max Quantity"
                        formControlName="UnitOfMeasureQty"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.xp.UnitOfMeasure.Qty'
                          )
                        "
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.HOW_MANY' | translate
                        }}"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="UnitOfMeasureUnit" translate
                        >ADMIN.PRODUCT_EDIT.UNIT_OF_MEASURE <span class="required-field">*</span>
                      </label>
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="text"
                        class="form-control"
                        id="UnitOfMeasureUnit"
                        aria-describedby="Min Quantity"
                        formControlName="UnitOfMeasureUnit"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.xp.UnitOfMeasure.Unit'
                          )
                        "
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.MEASURING_UNIT' | translate
                        }}"
                      />
                    </div>
                  </div>
                </div>
                <!-- /Unit Of Measure -->
                <!-- Order Limitations -->
                <div class="card bg-white shadow-sm p-4 mt-3">
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.ORDER_LIMITATIONS
                  </h6>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="MinQuantity" translate
                        >ADMIN.PRODUCT_EDIT.MIN_QUANTITY</label
                      >
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="number"
                        class="form-control"
                        id="MinQuantity"
                        showErrors
                        aria-describedby="Min Quantity"
                        min="1"
                        step="1"
                        formControlName="MinQuantity"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'PriceSchedule.MinQuantity',
                            'number'
                          )
                        "
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.ENTER_MIN_QUANTITY' | translate
                        }}"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="MaxQuantity" translate
                        >ADMIN.PRODUCT_EDIT.MAX_QUANTITY</label
                      >
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="number"
                        class="form-control"
                        id="MaxQuantity"
                        showErrors
                        aria-describedby="Max Quantity"
                        min="{{ productForm.controls.MinQuantity.value }}"
                        step="1"
                        formControlName="MaxQuantity"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'PriceSchedule.MaxQuantity',
                            'number'
                          )
                        "
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.ENTER_MAX_QUANTITY' | translate
                        }}"
                      />
                    </div>
                  </div>
                </div>
                <!-- /Order Limitations -->
                <!-- Inventory Tracking -->
                <div class="card bg-white shadow-sm p-4 mt-3">
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.INVENTORY_TRACKING
                  </h6>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="checkbox"
                        class="custom-control-input"
                        formControlName="InventoryEnabled"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.Inventory.Enabled'
                          )
                        "
                        id="InventoryEnabled"
                      />
                      <label
                        class="custom-control-label"
                        for="InventoryEnabled"
                        translate
                        >ADMIN.PRODUCT_EDIT.ENABLE_INVENTORY_TRACKING</label
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="_superHSProductEditable?.Product?.Inventory?.Enabled"
                    class="form-group"
                  >
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        formControlName="OrderCanExceed"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.Inventory.OrderCanExceed'
                          )
                        "
                        id="OrderCanExceed"
                      />
                      <label
                        class="custom-control-label"
                        for="OrderCanExceed"
                        translate
                        >ADMIN.PRODUCT_EDIT.ORDER_CAN_EXCEED</label
                      >
                    </div>
                  </div>
                  <div
                    [ngbTooltip]="
                      !_superHSProductEditable?.Product?.ID
                        ? 'Your product must have a SKU before you can enable variants'
                        : ''
                    "
                    placement="bottom-left"
                    *ngIf="_superHSProductEditable?.Product?.Inventory?.Enabled"
                    class="form-group"
                  >
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        formControlName="VariantLevelTracking"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.Inventory.VariantLevelTracking'
                          )
                        "
                        id="VariantLevelTracking"
                      />
                      <label
                        class="custom-control-label"
                        for="VariantLevelTracking"
                        translate
                        >Track inventory for each individual variation</label
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="
                      _superHSProductEditable?.Product?.Inventory?.Enabled &&
                      !_superHSProductEditable?.Product?.Inventory
                        ?.VariantLevelTracking
                    "
                    class="form-group w-50"
                  >
                    <label for="QuantityAvailable" translate
                      >ADMIN.PRODUCT_EDIT.QUANTITY_AVAILABLE</label
                    >
                    <div class="input-group">
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="number"
                        class="form-control"
                        id="QuantityAvailable"
                        min="1"
                        aria-describedby="Quantity Available"
                        formControlName="QuantityAvailable"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.Inventory.QuantityAvailable'
                          )
                        "
                        placeholder="{{
                          'ADMIN.PRODUCT_EDIT.CURRENT_AVAILABLE_QUANTITY'
                            | translate
                        }}"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text rounded-right"
                          >units</span
                        >
                      </div>
                    </div>
                  </div>
                  <ng-container
                    *ngIf="
                      _superHSProductEditable?.Product?.Inventory?.Enabled &&
                      _superHSProductEditable?.Product?.Inventory
                        ?.VariantLevelTracking
                    "
                  >
                    <p class="mb-0" translate>
                      ADMIN.PRODUCT_EDIT.QUANTITY_AVAILABLE
                    </p>
                    <a
                      class="text-muted cursor-pointer"
                      translate
                      (click)="active = 5"
                      (click)="
                        tabChanged(
                          { nextId: 5 },
                          _superHSProductEditable?.Product?.ID
                        )
                      "
                    >
                      Edit variant quantities
                    </a>
                  </ng-container>
                </div>
                <!-- /Inventory Tracking -->
                <!-- Tax Categorization -->
                <product-tax-code-select-component
                  *ngIf="taxCodes?.ProductsShouldHaveTaxCodes"
                  [readonly]="readonly"
                  [productForm]="productForm"
                  [superHSProductEditable]="_superHSProductEditable"
                  [taxCodes]="taxCodes?.Categories"
                  [isCreatingNew]="isCreatingNew"
                  (handleTaxCodeSelection)="
                    handleTaxCodeSelection($event.target.value)
                  "
                  (handleTaxCodesSearched)="searchTaxCodes($event)"
                  (handleIsResale)="
                    handleUpdateProduct(
                      { target: { value: $event } },
                      'Product.xp.IsResale'
                    )
                  "
                >
                </product-tax-code-select-component>
                <!-- /Tax Categorization -->
                <!-- Shipping Information -->
                <div class="card bg-white shadow-sm p-4 mt-3">
                  <div class="form-group">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <h6 class="font-weight-medium" translate>
                        ADMIN.PRODUCT_EDIT.SHIPPING
                      </h6>
                      <ng-container
                        *ngIf="
                          productForm.controls.ProductType.value !== 'Quote'
                        "
                      >
                        <fa-icon
                          class="tab-status-icon text-danger"
                          [icon]="faAsterisk"
                          *ngIf="isCreatingNew && !isShippingValid()"
                        >
                        </fa-icon>
                        <fa-icon
                          class="text-success"
                          [icon]="faCheckCircle"
                          *ngIf="isCreatingNew && isShippingValid()"
                        >
                        </fa-icon>
                      </ng-container>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input
                        type="checkbox"
                        [attr.disabled]="readonly ? true : null"
                        class="custom-control-input"
                        formControlName="FreeShipping"
                        (input)="
                          handleUpdateProduct($event, 'Product.xp.FreeShipping')
                        "
                        id="FreeShipping"
                      />
                      <label
                        class="custom-control-label"
                        for="FreeShipping"
                        translate
                        >ADMIN.PRODUCT_EDIT.FREE_SHIPPING</label
                      >
                    </div>
                    <div
                      *ngIf="_superHSProductEditable?.Product?.xp?.FreeShipping"
                      class="mb-3"
                    >
                      <label for="FreeShippingMessage" translate
                        >ADMIN.PRODUCT_EDIT.FREE_SHIPPING_MESSAGE
                      </label>
                      <input
                        [attr.disabled]="readonly ? true : null"
                        type="text"
                        class="form-control"
                        id="FreeShippingMessage"
                        aria-describedby="Min Quantity"
                        formControlName="FreeShippingMessage"
                        maxlength="25"
                        (input)="
                          handleUpdateProduct(
                            $event,
                            'Product.xp.FreeShippingMessage'
                          )
                        "
                      />
                      <small class="d-block">
                        <fa-icon
                          class="color-beige"
                          [icon]="faExclamationCircle"
                        ></fa-icon>
                        <span translate>
                          ADMIN.PRODUCT_EDIT.FREE_SHIPPING_MESSAGE_INFO</span
                        >
                      </small>
                    </div>
                    <label for="ShipFromAddressID" translate
                      >ADMIN.PRODUCT_EDIT.WHICH_LOCATION_SHIP <span class="required-field">*</span>
                    </label>
                    <select
                      [attr.disabled]="readonly ? true : null"
                      type="dropdown"
                      class="form-control"
                      formControlName="ShipFromAddressID"
                      id="ShipFromAddressID"
                      aria-describedby="Ship From Address ID"
                      (change)="
                        handleUpdateProduct($event, 'Product.ShipFromAddressID')
                      "
                    >
                      <option disabled [ngValue]="null" translate>
                        ADMIN.PRODUCT_EDIT.CHOOSE_AN_ADDRESS
                      </option>
                      <option
                        *ngFor="let address of addresses?.Items"
                        [selected]="shippingAddress === address"
                        [value]="address.ID"
                      >
                        {{ address.AddressName }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <label for="ShipWeight" translate>
                      ADMIN.PRODUCT_EDIT.WEIGHT_PER_QTY <span class="required-field">*</span>
                    </label>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <div class="input-group w-50">
                        <input
                          [attr.disabled]="readonly ? true : null"
                          type="number"
                          class="form-control"
                          id="ShipWeight"
                          showErrors
                          aria-describedby="Ship Weight"
                          formControlName="ShipWeight"
                          (input)="
                            handleUpdateProduct(
                              $event,
                              'Product.ShipWeight',
                              'number'
                            )
                          "
                          placeholder="{{
                            'ADMIN.PRODUCT_EDIT.ENTER_SHIP_WEIGHT' | translate
                          }}"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text rounded-right"
                            >pounds</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="form-group">
                    <label class="d-block" for="SizeTier" translate
                      >ADMIN.PRODUCT_EDIT.SIZE_TIER_LABEL <span class="required-field">*</span></label
                    >
                    <select
                      [attr.disabled]="readonly ? true : null"
                      type="dropdown"
                      class="form-control"
                      formControlName="SizeTier"
                      id="SizeTier"
                      aria-describedby="Product type"
                      (change)="
                        handleUpdateProduct($event, 'Product.xp.SizeTier')
                      "
                    >
                      <option [ngValue]="null" disabled translate>
                        ADMIN.PRODUCT_EDIT.SIZE_TIER_CHOOSE
                      </option>
                      <option
                        *ngFor="let tier of availableSizeTiers"
                        [selected]="
                          _superHSProductEditable?.xp?.SizeTier === tier.Tier
                        "
                        value="{{ tier.Tier }}"
                      >
                        {{ tier.Description }}
                      </option>
                    </select>
                    <small>
                      <fa-icon
                        class="color-beige"
                        [icon]="faExclamationCircle"
                      ></fa-icon>
                      <span translate> ADMIN.PRODUCT_EDIT.SIZE_TIER_INFO</span>
                    </small>
                  </div>
                  <ng-container
                    *ngIf="productForm.controls['SizeTier'].value === 'G'"
                  >
                    <div class="form-group mb-0">
                      <label for="ShipHeight" translate
                        >ADMIN.PRODUCT_EDIT.LENGTH_BY_WIDTH_BY_HEIGHT
                      </label>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <div class="input-group">
                          <input
                            [attr.disabled]="readonly ? true : null"
                            type="number"
                            class="form-control"
                            id="ShipLength"
                            showErrors
                            aria-describedby="Ship Length"
                            formControlName="ShipLength"
                            (input)="
                              handleUpdateProduct(
                                $event,
                                'Product.ShipLength',
                                'number'
                              )
                            "
                            placeholder="{{
                              'ADMIN.PRODUCT_EDIT.ENTER_SHIP_LENGTH' | translate
                            }}"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text rounded-right"
                              >inches</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="input-group">
                          <input
                            [attr.disabled]="readonly ? true : null"
                            type="number"
                            class="form-control"
                            id="ShipWidth"
                            showErrors
                            aria-describedby="Ship Width"
                            formControlName="ShipWidth"
                            (input)="
                              handleUpdateProduct(
                                $event,
                                'Product.ShipWidth',
                                'number'
                              )
                            "
                            placeholder="{{
                              'ADMIN.PRODUCT_EDIT.ENTER_SHIP_WIDTH' | translate
                            }}"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text rounded-right"
                              >inches</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <div class="input-group">
                          <input
                            [attr.disabled]="readonly ? true : null"
                            type="number"
                            class="form-control"
                            id="ShipHeight"
                            showErrors
                            aria-describedby="Ship Height"
                            formControlName="ShipHeight"
                            (input)="
                              handleUpdateProduct(
                                $event,
                                'Product.ShipHeight',
                                'number'
                              )
                            "
                            placeholder="{{
                              'ADMIN.PRODUCT_EDIT.ENTER_SHIP_HEIGHT' | translate
                            }}"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text rounded-right"
                              >inches</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <!-- /Shipping Information -->
              </div>
              <!-- Product Preview -->
              <div class="col-md-4">
                <div
                  class="
                    card
                    py-2
                    px-3
                    bg-white
                    sticky-top
                    product-preview-card
                  "
                >
                  <p class="text-center font-weight-bold" translate>
                    ADMIN.PRODUCT_EDIT.PRODUCT_PREVIEW
                  </p>
                  <div
                    class="
                      card
                      product-preview
                      w-100
                      border-hover
                      cursor-pointer
                    "
                  >
                    <div class="ribbon ribbon-top-right bg-light">
                      <fa-icon
                        class="tab-status-icon text-danger cursor-pointer"
                        [icon]="faHeart"
                      ></fa-icon>
                    </div>
                    <div>
                      <img
                        class="product-preview-img"
                        [src]="getProductPreviewImage()"
                        [alt]="_superHSProductEditable?.Product?.Name"
                      />
                      <div
                        class="
                          card-body
                          d-flex
                          flex-column
                          justify-content-between
                          bg-light
                        "
                      >
                        <h5
                          class="card-title"
                          title="_superHSProductEditable?.Product?.Name"
                        >
                          {{ _superHSProductEditable?.Product?.Name }}
                        </h5>
                        <small class="card-text text-muted">{{
                          _superHSProductEditable?.Product?.ID
                        }}</small>
                        <p class="card-text">
                          {{
                            _superHSProductEditable?.Product?.xp?.Facets
                              ?.supplier &&
                              _superHSProductEditable?.Product?.xp?.Facets
                                ?.supplier[0]
                          }}
                        </p>
                        <div
                          class="
                            d-flex
                            flex-wrap
                            justify-content-between
                            align-items-center
                          "
                        >
                          <p class="card-text mb-0">
                            {{
                              _superHSProductEditable?.PriceSchedule
                                ?.PriceBreaks[0]?.Price
                                | currency: supplierCurrency?.Currency
                            }}
                          </p>
                          <small class="card-text text-muted"
                            >{{
                              _superHSProductEditable?.Product?.xp
                                ?.UnitOfMeasure?.Qty
                            }}
                            /
                            {{
                              _superHSProductEditable?.Product?.xp
                                ?.UnitOfMeasure?.Unit
                            }}</small
                          ><label class="sr-only" for="quantity" translate
                            >ADMIN.PRODUCT_EDIT.QUANTITY</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Product Preview -->
            </div>
          </div>
        </ng-template>
      </li>
      <!-- /Product Details -->
      <!-- Buyer Visibility -->
      <li [ngbNavItem]="1" *ngIf="sellerView" id="1">
        <a
          class="text-muted"
          ngbNavLink
          translate
          >ADMIN.PRODUCT_EDIT.BUYER_VISIBILITY</a
        >
        <ng-template ngbNavContent>
          <product-visibility-assignments-component
            *ngIf="_superHSProductStatic?.Product?.ID"
            [product]="_superHSProductStatic.Product"
          >
          </product-visibility-assignments-component>
        </ng-template>
      </li>
      <!-- /Buyer Visibility -->
      <!-- Description -->
      <li [ngbNavItem]="2" id="2">
        <a class="text-muted" ngbNavLink translate
          >ADMIN.PRODUCT_EDIT.DESCRIPTION</a
        >
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <div class="row pt-3">
              <div class="col-md-7">
                <div class="card py-2 px-3 bg-white">
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.DESCRIPTION
                  </h6>
                  <reactive-quill-editor-component
                    [readonly]="readonly"
                    [resourceInSelection]="resourceInSelection"
                    [formControlForText]="productForm?.controls?.Description"
                    resourceField="Description"
                    pathOnResource="Description"
                    (resourceUpdated)="
                      updateResourceFromFieldValue($event.field, $event.value)
                    "
                  >
                  </reactive-quill-editor-component>
                  <div class="form-group mt-3">
                    <label for="Note" translate
                      >ADMIN.PRODUCT_EDIT.PRODUCT_MESSAGE</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="Note"
                      showErrors
                      aria-describedby="Note"
                      maxlength="240"
                      formControlName="Note"
                      (input)="handleUpdateProduct($event, 'Product.xp.Note')"
                      [disabled]="readonly"
                      placeholder="{{
                        'ADMIN.PRODUCT_EDIT.ENTER_PRODUCT_NOTE' | translate
                      }}"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="card py-2 px-3 bg-white">
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.DESCRIPTION_PREVIEW
                  </h6>
                  <div>
                    <p
                      *ngIf="!productForm.controls['Description'].value"
                      translate
                    >
                      ADMIN.PRODUCT_EDIT.NO_DESCRIPTION
                    </p>
                  </div>
                  <div
                    [innerHtml]="
                      productForm.controls['Description'].value | safeHTML
                    "
                  ></div>
                  <hr />
                  <h6 class="font-weight-medium" translate>
                    ADMIN.PRODUCT_EDIT.MESSAGE_PREVIEW
                  </h6>
                  <div>
                    <p *ngIf="!productForm.controls['Note'].value" translate>
                      ADMIN.PRODUCT_EDIT.NO_NOTE
                    </p>
                  </div>
                  <div
                    *ngIf="productForm.controls['Note'].value"
                    class="alert alert-info"
                  >
                    <span translate>ADMIN.PRODUCT_EDIT.NOTE</span>:
                    {{ _superHSProductEditable?.Product?.xp?.Note }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <!-- /Description -->
      <!-- Pricing -->
      <li
        [ngbNavItem]="3"
        id="3"
        [disabled]="readonly && !_superHSProductEditable?.PriceSchedule?.ID"
      >
        <a
          class="text-muted d-flex justify-content-center align-items-center"
          ngbNavLink
          translate
        >
          ADMIN.PRODUCT_EDIT.PRICING
          <!-- Validity Status Indicators -->
          <fa-icon
            class="tab-status-icon text-danger ml-1"
            [icon]="faExclamationCircle"
            *ngIf="
              isCreatingNew &&
              isRequired('Price') &&
              !productForm.controls['Price'].valid
            "
          >
          </fa-icon>
          <fa-icon
            class="tab-status-icon text-success ml-1"
            [icon]="faCheckCircle"
            *ngIf="
              isCreatingNew &&
              isRequired('Price') &&
              productForm.controls['Price'].valid
            "
          >
          </fa-icon>
          <!-- /Validity Status Indicators End -->
        </a>
        <ng-template ngbNavContent>
          <product-pricing-component
            [readonly]="readonly"
            [productForm]="productForm"
            [supplierCurrency]="supplierCurrency"
            [sellerCurrency]="sellerCurrency"
            [superHSProductEditable]="_superHSProductEditable"
            [isRequired]="isRequired('Price')"
            (updateProduct)="handleUpdatePricing($event)"
          >
          </product-pricing-component>
        </ng-template>
      </li>
      <!-- /Pricing -->
      <!-- Filters -->
      <li [ngbNavItem]="4" id="4">
        <a class="text-muted" ngbNavLink translate
          >ADMIN.PRODUCT_EDIT.FILTERS</a
        >
        <ng-template ngbNavContent>
          <product-filters-component
            [readonly]="readonly"
            (updatedFacets)="
              updateProductResource({
                field: 'Product.xp.Facets',
                value: $event
              })
            "
            [facetsOnProduct]="
              _superHSProductEditable?.Product?.xp?.Facets || []
            "
            [superProduct]="_superHSProductEditable?.Product"
          >
          </product-filters-component>
        </ng-template>
      </li>
      <!-- /Filters -->
      <!-- Varitaions -->
      <li *ngIf="!_superHSProductEditable?.Product?.ID" [ngbNavItem]="5" id="5">
        <a
          class="text-muted nav-link"
          (click)="showVariantToastr()"
          translate
        >
          ADMIN.PRODUCT_EDIT.VARIANTS
          <span class="badge badge-pill badge-primary-light">{{
            _superHSProductEditable?.Variants?.length || 0
          }}</span>
        </a>
      </li>
      <li *ngIf="_superHSProductEditable?.Product?.ID" [ngbNavItem]="5" id="5">
        <a class="text-muted" ngbNavLink translate>
          ADMIN.PRODUCT_EDIT.VARIANTS
          <span class="badge badge-pill badge-primary-light">{{
            _superHSProductEditable?.Variants?.length || 0
          }}</span>
        </a>
        <ng-template ngbNavContent>
          <product-variations-component
            [readonly]="readonly"
            [superHSProductStatic]="_superHSProductStatic"
            [superHSProductEditable]="_superHSProductEditable"
            [areChanges]="areChanges"
            [isCreatingNew]="isCreatingNew"
            [checkForChanges]="checkForChanges"
            [copyProductResource]="copyProductResource"
            [myCurrency]="supplierCurrency"
            (productVariationsChanged)="
              updateEditableProductWithVariationChanges($event)
            "
            (variantsValidated)="validateVariants($event)"
            (specsValidated)="validateSpecs($event)"
          >
          </product-variations-component>
        </ng-template>
      </li>
      <!-- /Variations -->
      <!-- Images & Documents -->
      <li [ngbNavItem]="6" id="6">
        <a
          class="text-muted"
          ngbNavLink
          translate
          >ADMIN.PRODUCT_EDIT.IMAGES_AND_DOCUMENTS
          <span class="badge badge-pill badge-primary-light">{{
            _superHSProductEditable?.Product?.xp?.Images?.length +
              _superHSProductEditable?.Product?.xp.Documents?.length +
              imageFiles?.length +
              staticContentFiles?.length
          }}</span></a
        >
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <div class="row pt-3">
              <div class="col-md-5">
                <h5 translate>ADMIN.PRODUCT_EDIT.PRODUCT_IMAGES</h5>
                <p class="font-italic" translate>
                  ADMIN.PRODUCT_EDIT.PRODUCT_IMAGES_DESC
                </p>
              </div>
              <div class="col-md-7">
                <!--droped image preview-->
                <div
                  class="
                    d-flex
                    justify-content-start
                    align-items-center
                    flex-wrap
                  "
                >
                  <div
                    *ngFor="let image of images; let i = index"
                    class="product-img-wrapper mr-2"
                  >
                    <div class="product-img">
                      <img
                        [id]="i"
                        src="{{ image.ThumbnailUrl }}"
                        width="auto"
                        height="100px"
                      />
                      <span
                        *ngIf="i === 0"
                        class="
                          badge badge-primary
                          primary-badge
                          position-absolute
                          mt-1
                          ml-1
                        "
                        translate
                      >
                        ADMIN.PRODUCT_EDIT.PRIMARY
                      </span>
                    </div>
                    <div
                      *ngIf="!readonly"
                      class="product-img-delete text-center"
                    >
                      <button
                        title="Delete photo"
                        class="btn btn-light btn-group-item"
                        data-ui="action-btn"
                        data-action="delete"
                        type="button"
                        (click)="open(content)"
                      >
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                      <ng-template #content let-modal class="confirm-modal">
                        <confirm-modal
                          modalTitle="Delete Image?"
                          description="Deleting this image cannot be reversed.<br /><small class='font-italic'>If your product has no images, a fallback image will display on the buyer site.</small>"
                        >
                          <button
                            type="button"
                            class="btn btn-link text-dark"
                            (click)="modal.dismiss()"
                            translate
                          >
                            ADMIN.COMMON.CANCEL
                          </button>
                          <button
                            type="button"
                            class="btn btn-primary-dark"
                            (click)="removeFile(image, 'image')"
                            (click)="modal.dismiss()"
                            translate
                          >
                            COMMON.YES_DELETE
                          </button>
                        </confirm-modal>
                      </ng-template>
                    </div>
                  </div>
                  <div
                    *ngFor="let image of imageFiles; let i = index"
                    class="product-img-wrapper mr-2"
                  >
                    <img
                      class="product-img"
                      [id]="i"
                      [src]="image.URL"
                      width="auto"
                      height="100px"
                    />
                    <div class="product-img-delete text-center">
                      <button
                        title="Un-stage photo"
                        class="btn btn-light btn-group-item"
                        data-ui="action-btn"
                        data-action="unstageFile"
                        (click)="unstageFile(i, 'image')"
                      >
                        <fa-icon [icon]="faTimes"></fa-icon>
                      </button>
                    </div>
                  </div>
                  <label
                    *ngIf="!readonly"
                    class="rmpm dropzone"
                    for="imageUpload"
                    appDrag
                    (files)="stageImages($event)"
                  >
                  </label>
                  <input
                    [disabled]="readonly"
                    class="d-none"
                    id="imageUpload"
                    type="file"
                    (change)="manualFileUpload($event, 'image')"
                    multiple
                  />
                </div>
              </div>
            </div>
            <div class="row pt-3 mt-5 border-top">
              <div class="col-md-5">
                <h5 translate>ADMIN.PRODUCT_EDIT.DOCUMENTS_PRODUCTS</h5>
                <p class="font-italic" translate>
                  ADMIN.PRODUCT_EDIT.DOCUMENTS_DESC
                </p>
              </div>
              <div class="col-md-7">
                <!--droped doc preview-->
                <div
                  class="
                    d-flex
                    justify-content-start
                    align-items-center
                    flex-wrap
                  "
                >
                  <div *ngIf="!readonly" class="input-group mb-3">
                    <input
                      type="text"
                      required
                      class="form-control"
                      value="{{ documentName }}"
                      placeholder="Document Name"
                      aria-label="Document Name"
                      (keyup)="getDocumentName($event)"
                      aria-describedby="document name"
                    />
                    <div class="input-group-append">
                      <label
                        *ngIf="documentName?.length"
                        class="btn btn-outline-primary"
                        for="documentUpload"
                        (files)="stageDocuments($event)"
                        translate
                      >
                        ADMIN.PRODUCT_EDIT.CHOOSE_FILE
                        <input
                          id="documentUpload"
                          class="d-none"
                          type="file"
                          (change)="manualFileUpload($event, 'staticContent')"
                        />
                      </label>
                    </div>
                  </div>
                  <div
                    *ngFor="let file of staticContentFiles; let i = index"
                    class="product-img-wrapper mr-2"
                  >
                    <a class="text-link">{{ file.Filename }}</a>
                    <div *ngIf="!readonly" class="float-right float-middle">
                      <button
                        title="Un-stage file"
                        class="btn btn-light btn-group-item"
                        data-ui="action-btn"
                        data-action="unstageFile"
                        (click)="unstageFile(i, 'staticContent')"
                      >
                        <fa-icon [icon]="faTimes"></fa-icon>
                      </button>
                    </div>
                  </div>
                  <table
                    class="table table-sm bg-light"
                    *ngIf="staticContent?.length > 0"
                  >
                    <thead>
                      <tr>
                        <th translate>ADMIN.PRODUCT_EDIT.DOCUMENTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of staticContent">
                        <td>{{ file.FileName }}</td>
                        <td>
                          <a
                            class="btn-link"
                            href="{{ file.Url }}"
                            target="_blank"
                            download="file.FileName"
                            translate
                            >ADMIN.PRODUCT_EDIT.DOWNLOAD</a
                          >
                        </td>
                        <td>
                          <button
                            title="Delete file"
                            class="btn btn-light btn-group-item"
                            data-ui="action-btn"
                            data-action="delete"
                            type="button"
                            (click)="open(content)"
                          >
                            <fa-icon [icon]="faTrash"></fa-icon>
                          </button>
                        </td>
                        <ng-template #content let-modal class="confirm-modal">
                          <confirm-modal
                            modalTitle="Delete Document?"
                            description="Deleting this document cannot be reversed."
                          >
                            <button
                              type="button"
                              class="btn btn-link text-dark"
                              (click)="modal.dismiss()"
                              translate
                            >
                              COMMON.CANCEL
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary-dark"
                              (click)="removeFile(file, 'document')"
                              (click)="modal.dismiss()"
                              translate
                            >
                              COMMON.YES_DELETE
                            </button>
                          </confirm-modal>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <!-- /Images & Documents -->
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </form>
  <!-- TODO: 2/2 Abstract into component to be used anywhere using inputs and outputs -->
  <div
    class="
      d-flex
      justify-content-between
      align-items-center
      py-2
      product-edit-actions
    "
  >
    <delete-confirm-modal-component
      *ngIf="!isCreatingNew"
      buttonText="ADMIN.NAV.PRODUCT"
      (deleteConfirmed)="handleDelete($event)"
    >
    </delete-confirm-modal-component>
    <div class="d-flex flex-column justify-content-end">
      <p *ngIf="!variantsValid" class="text-danger" translate>
        ADMIN.PRODUCT_EDIT.VARIATION_ISSUES
      </p>
      <p *ngIf="!specsValid" class="text-danger" translate>
        ADMIN.PRODUCT_EDIT.SPEC_ISSUES
      </p>
      <div>
        <button
          *ngIf="areChanges"
          class="btn btn-primary"
          type="submit"
          [disabled]="
            productForm?.status === 'INVALID' ||
            !variantsValid ||
            !specsValid ||
            dataIsSaving
          "
          (click)="handleSave()"
        >
          {{ getSaveBtnText() }}
        </button>
        <button
          class="btn btn-primary ml-3"
          (click)="handleDiscardChanges()"
          *ngIf="areChanges && !isCreatingNew"
          translate
        >
          COMMON.DISCARD_CHANGES
        </button>
      </div>
    </div>
  </div>
</div>
