@import '../../../../styles/main.scss';

.resource-table tbody .selectable-row {
    cursor: pointer;
}

.resource-search {
    width: 200px;
}

.selected-resource {
    background-color: lightgrey;
}

.quill-container {
    height: 400px;
}

.product-preview {
    max-width: 250px;
    margin: auto;
}
.product-table {
    border-radius: $border-radius;
    border: 1px solid hsl(230, 20%, 94%);
    box-shadow: 0 3px 0 hsl(230, 20%, 94%);
    margin-bottom: 1.5rem;
}

// STICK THE TAB LABELS TO TOP ON SCROLL
.nav-pills {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1050;
    .nav-link {
        &.active {
            background-color: white !important;
            color: $dark !important;
            border-radius: 0px !important;
            border-bottom: 2px solid $primary;
        }
    }
}

.center-checkbox {
    position: absolute;
    top: 50%;
}

.tab-status-icon {
    font-size: 10px;
}
.product-preview-card {
    top: 50px;
}

.product-preview-img {
    max-width: 100%;
}

.product-edit-actions {
    position: relative;
}