<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-7">
      <button
        *ngIf="!isCreatingNew && !isCloning"
        class="btn btn-block btn-primary w-25 mb-3"
        routerLink="/promotions/clone/{{ _promotionEditable?.ID }}"
        translate
      >
        ADMIN.PROMOTIONS.CLONE
      </button>
      <div *ngIf="isCloning" class="mb-3">
        <span *ngIf="isCloning" class="font-italic" translate
          >ADMIN.PROMOTIONS.ADJUST_FORM_DETAILS</span
        >
      </div>
      <form [formGroup]="resourceForm">
        <div class="card bg-white shadow-sm p-4">
          <div class="d-flex justify-content-between align-items-center">
            <label for="discountCode" class="h6 mb-0" translate>
              ADMIN.PROMOTIONS.DISCOUNT_CODE
            </label>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="generateRandomCode()"
              translate
            >
              ADMIN.PROMOTIONS.GENERATE_RANDOM_CODE
            </button>
          </div>
          <input
            type="text"
            class="form-control mt-3"
            formControlName="Code"
            [value]="_promotionEditable?.Code"
            (input)="handleUpdatePromo($event, 'Code')"
            placeholder="{{
              'ADMIN.PROMOTIONS.PROMO_CODE_EXAMPLE' | translate
            }}"
            id="discountCode"
          />
          <div class="my-2 text-medium">
            <small *ngIf="_promotionEditable?.xp?.Automatic" translate
              >ADMIN.PROMOTIONS.AUTOMATIC_PROMO_CODE_EXPLANATION</small
            >
            <small *ngIf="!_promotionEditable?.xp?.Automatic" translate
              >ADMIN.PROMOTIONS.PROMO_CODE_EXPLANATION</small
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              formControlName="Automatic"
              (input)="handleUpdatePromo($event, 'xp.Automatic')"
              id="Automatic"
            />
            <label class="custom-control-label" for="Automatic" translate
              >ADMIN.PROMOTIONS.AUTO_APPLY</label
            >
          </div>
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <label class="h6 mb-0" for="finePrint" translate>
            ADMIN.PROMOTIONS.FINE_PRINT
          </label>
          <textarea
            type="text"
            id="finePrint"
            class="form-control mt-3"
            formControlName="FinePrint"
            [value]="_promotionEditable?.FinePrint"
            (input)="handleUpdatePromo($event, 'FinePrint')"
            placeholder="{{
              'ADMIN.PROMOTIONS.FINE_PRINT_EXAMPLE' | translate
            }}"
            rows="3"
            maxLength="100"
          ></textarea>
          <small class="mt-2 text-medium" translate
            >ADMIN.PROMOTIONS.FINE_PRINT_EXPLANATION</small
          >
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <h6 class="mb-0" translate>ADMIN.PROMOTIONS.TYPE</h6>
          <div class="form-group mt-3 mb-0">
            <div class="form-check">
              <input
                id="promoType"
                class="form-check-input"
                type="radio"
                name="Type"
                id="Percentage"
                value="Percentage"
                formControlName="Type"
                (change)="handleUpdatePromo($event, 'xp.Type')"
                [checked]="promoTypeCheck('Percentage')"
              />
              <label class="form-check-label" for="Percentage" translate>
                ADMIN.PROMOTIONS.PERCENTAGE
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="Type"
                id="FixedAmount"
                value="FixedAmount"
                formControlName="Type"
                (change)="handleUpdatePromo($event, 'xp.Type')"
                [checked]="promoTypeCheck('FixedAmount')"
              />
              <label class="form-check-label" for="FixedAmount" translate>
                ADMIN.PROMOTIONS.FIXED_AMOUNT
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="Type"
                id="FreeShipping"
                value="FreeShipping"
                formControlName="Type"
                (change)="handleUpdatePromo($event, 'xp.Type')"
                [checked]="promoTypeCheck('FreeShipping')"
              />
              <label class="form-check-label" for="FreeShipping" translate>
                ADMIN.PROMOTIONS.FREE_SHIPPING
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="Type"
                id="BOGO"
                value="BOGO"
                formControlName="Type"
                (change)="selectBOGOPromoType($event)"
                [checked]="promoTypeCheck('BOGO')"
              />
              <label class="form-check-label" for="BOGO" translate>
                BOGO
              </label>
            </div>
          </div>
        </div>
        <promotion-bogo-edit
          *ngIf="_promotionEditable?.xp?.Type === 'BOGO' && products"
          [promotionEditable]="_promotionEditable"
          [formGroup]="resourceForm"
          [_products]="products"
          [getProductsCollapsed]="getProductsCollapsed"
          [buyProductsCollapsed]="buyProductsCollapsed"
          [selectedBuySKU]="selectedBuySKU"
          [selectedGetSKU]="selectedGetSKU"
          (buySKUSelected)="selectBuySKU($event)"
          (getSKUSelected)="selectGetSKU($event)"
          (promoUpdated)="
            handleUpdatePromo($event.event, $event.path, $event.valueType)
          "
          (scrollEnded)="handleScrollEnd($event)"
          (toggleProductsCollapse)="toggleBOGOProductsCollapse($event)"
          (searchProducts)="searchedResources($event)"
        >
        </promotion-bogo-edit>
        <div
          *ngIf="
            _promotionEditable?.xp?.Type !== 'FreeShipping' &&
            _promotionEditable?.xp?.Type !== 'BOGO'
          "
          class="card bg-white shadow-sm p-4 mt-3"
        >
          <label class="mb-0" for="Value" translate
            >ADMIN.PROMOTIONS.VALUE</label
          >
          <div class="input-group w-25 mt-3">
            <div
              *ngIf="_promotionEditable?.xp?.Type === 'FixedAmount'"
              class="input-group-prepend"
            >
              <span class="input-group-text">$</span>
            </div>
            <input
              type="number"
              class="form-control"
              formControlName="Value"
              min="0"
              (input)="handleUpdatePromo($event, 'xp.Value', 'number')"
              id="Value"
            />
            <div
              *ngIf="_promotionEditable?.xp?.Type === 'Percentage'"
              class="input-group-append"
            >
              <span class="input-group-text">%</span>
            </div>
          </div>
          <hr />
          <h6 class="mb-0" translate>ADMIN.PROMOTIONS.APPLIES_TO</h6>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group mb-0">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AppliesTo"
                    id="EntireOrder"
                    value="EntireOrder"
                    formControlName="AppliesTo"
                    (change)="handleUpdatePromo($event, 'xp.AppliesTo')"
                    [checked]="promoTypeCheck('EntireOrder')"
                  />
                  <label class="form-check-label" for="EntireOrder" translate>
                    ADMIN.PROMOTIONS.ENTIRE_ORDER
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AppliesTo"
                    id="SpecificSupplier"
                    value="SpecificSupplier"
                    formControlName="AppliesTo"
                    (change)="handleUpdatePromo($event, 'xp.AppliesTo')"
                    [checked]="promoTypeCheck('SpecificSupplier')"
                  />
                  <label
                    class="form-check-label"
                    for="SpecificSupplier"
                    translate
                  >
                    ADMIN.PROMOTIONS.SPECIFIC_SUPPLIER
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AppliesTo"
                    id="SpecificSKUs"
                    value="SpecificSKUs"
                    formControlName="AppliesTo"
                    (change)="handleUpdatePromo($event, 'xp.AppliesTo')"
                    [checked]="promoTypeCheck('SpecificSKUs')"
                  />
                  <label class="form-check-label" for="SpecificSKUs" translate>
                    Specific SKUs
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <!-- TODO: MOVE TO SEPARATE COMPONENT WITH INPUTS/OUTPUTS -->
              <!-- PRODUCT SELECT AND SEARCH -->
              <ng-container
                *ngIf="_promotionEditable?.xp?.AppliesTo === 'SpecificSKUs'"
              >
                <div
                  id="productsCollapse"
                  [ngbCollapse]="productsCollapsed"
                  aria-label="parent resource dropdown"
                >
                  <search-component
                    class="mr-3 w-100"
                    id="resource-search"
                    [placeholderText]="''"
                    [searchTermInput]="buyerSearchTerm"
                    (searched)="searchedBuyerResources($event)"
                  >
                  </search-component>
                  <perfect-scrollbar
                    class="
                      dropdown-ps
                      product-search-area
                      border border-light
                      shadow-sm
                    "
                    (psYReachEnd)="handleScrollEnd($event)"
                  >
                    <button
                      type="button"
                      ngbDropdownItem
                      *ngFor="let resource of products | async"
                      (click)="addSKU(resource.ID)"
                      [disabled]="alreadySelected(resource.ID)"
                      aria-label="select your SKU"
                    >
                      <div class="overflow-hidden">
                        <summary-resource-display-component
                          [resource]="resource"
                          [resourceType]="'products'"
                        >
                        </summary-resource-display-component>
                      </div>
                    </button>
                    <p
                      class="mb-0"
                      *ngIf="!products?.value?.length && searchTerm"
                      ngbDropdownItem
                      disabled
                      translate
                    >
                      ADMIN.PROMOTIONS.NO_RESULTS
                    </p>
                  </perfect-scrollbar>
                </div>
                <div class="chip-bag">
                  <div
                    class="chip chip-sm"
                    *ngFor="let sku of _promotionEditable?.xp?.SKUs"
                  >
                    {{ sku }}
                    <fa-icon
                      (click)="removeSku(sku)"
                      [icon]="faTimesCircle"
                    ></fa-icon>
                  </div>
                </div>
              </ng-container>
              <!-- END PRODUCT SELECT AND SEARCH -->
              <!-- START SUPPLIER SPECIFIC -->
              <ng-container
                *ngIf="_promotionEditable?.xp?.AppliesTo === 'SpecificSupplier'"
              >
                <div
                  ngbDropdown
                  *ngIf="suppliers?.value?.length && selectedSupplier"
                  class="w-100"
                >
                  <button
                    type="button"
                    class="
                      resource-btn
                      btn btn-block btn-outline-medium
                      text-left
                    "
                    id="supplierSelectDropdown"
                    ngbDropdownToggle
                  >
                    {{ selectedSupplier.Name }}
                  </button>
                  <div ngbDropdownMenu class="dropdown-inline shadow-sm mt-2">
                    <perfect-scrollbar
                      class="
                        dropdown-ps
                        product-search-area
                        border border-light
                        shadow-sm
                      "
                      (psYReachEnd)="handleScrollEnd($event)"
                    >
                      <button
                        type="button"
                        ngbDropdownItem
                        *ngFor="let supplier of suppliers | async"
                        (click)="selectSupplier(supplier.ID)"
                        aria-label="select your supplier"
                      >
                        <summary-resource-display-component
                          [resource]="supplier"
                          [resourceType]="'suppliers'"
                        >
                        </summary-resource-display-component>
                      </button>
                    </perfect-scrollbar>
                  </div>
                </div>
              </ng-container>
              <!-- END SUPPLIER SPECIFIC -->
            </div>
          </div>
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <h6 class="mb-0" translate>ADMIN.PROMOTIONS.MINIMUM_REQUIREMENTS</h6>
          <small class="text-primary-light font-italic my-2">
            <fa-icon
              class="mr-2"
              [icon]="faExclamationCircle"
              aria-hidden="true"
            ></fa-icon>
            <span translate
              >ADMIN.PROMOTIONS.MINIMUM_REQUIREMENTS_EXPLANATION</span
            >
          </small>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MinReqType"
              id="None"
              [value]="null"
              formControlName="MinReqType"
              (input)="handleClearMinReq()"
              [checked]="!_promotionEditable?.xp?.MinReq?.Type"
            />
            <label class="form-check-label" for="None" translate>
              ADMIN.PROMOTIONS.NONE
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MinReqType"
              id="MinPurchase"
              value="MinPurchase"
              formControlName="MinReqType"
              (input)="handleUpdatePromo($event, 'xp.MinReq.Type')"
              [checked]="_promotionEditable?.xp?.MinReq?.Type === 'MinPurchase'"
            />
            <label class="form-check-label" for="MinPurchase" translate>
              ADMIN.PROMOTIONS.MINIMUM_PURCHASE_AMOUNT
            </label>
          </div>
          <div
            [hidden]="
              !_promotionEditable?.xp?.MinReq?.Type ||
              _promotionEditable?.xp?.MinReq?.Type === 'MinItemQty'
            "
            class="input-group w-25"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <label
              for="inputMinReqInt"
              class="sr-only"
              aria-labelledby="inputMinReqInt"
            ></label>
            <input
              class="form-control"
              type="number"
              [value]="_promotionEditable?.xp?.MinReq?.Int"
              min="0"
              (input)="handleUpdatePromo($event, 'xp.MinReq.Int', 'number')"
              formControlName="MinReqInt"
              name="MinReqInt"
              id="inputMinReqInt"
              placeholder="0.00"
            />
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="MinReqType"
              id="radioMinItemQty"
              value="MinItemQty"
              formControlName="MinReqType"
              (input)="handleUpdatePromo($event, 'xp.MinReq.Type')"
              [checked]="_promotionEditable?.xp?.MinReq?.Type === 'MinItemQty'"
            />
            <label class="form-check-label" for="radioMinItemQty" translate>
              ADMIN.PROMOTIONS.MINIMUM_QUANTITY_ITEMS
            </label>
          </div>
          <div
            [hidden]="
              !_promotionEditable?.xp?.MinReq?.Type ||
              _promotionEditable?.xp?.MinReq?.Type === 'MinPurchase'
            "
            class="input-group w-25"
          >
            <input
              class="form-control"
              type="number"
              [value]="_promotionEditable?.xp?.MinReq?.Int"
              min="0"
              (input)="handleUpdatePromo($event, 'xp.MinReq.Int', 'number')"
              formControlName="MinReqInt"
              name="MinReqInt"
              id="inputMinItemQty"
              placeholder="0"
            />
            <div class="input-group-append">
              <span class="input-group-text" translate
                >ADMIN.PROMOTIONS.ITEMS</span
              >
            </div>
          </div>
          <ng-container *ngIf="_promotionEditable?.xp?.Type === 'FreeShipping'">
            <hr />
            <h6 class="mb-0" translate>ADMIN.PROMOTIONS.SHIPPING</h6>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                (input)="toggleCapShipCost()"
                [checked]="capShipCost"
                id="MaxShipCost"
              />
              <label class="custom-control-label" for="MaxShipCost" translate
                >ADMIN.PROMOTIONS.EXCLUDE_SHIPPING_RATES</label
              >
            </div>
            <div [hidden]="!capShipCost" class="input-group w-25">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input
                class="form-control"
                type="number"
                [value]="_promotionEditable?.xp?.MaxShipCost"
                min="0"
                (input)="handleUpdatePromo($event, 'xp.MaxShipCost', 'number')"
                formControlName="MaxShipCost"
                name="MaxShipCost"
              />
            </div>
          </ng-container>
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <h6 class="mb-0" translate>ADMIN.PROMOTIONS.BUYER_ELIGIBILITY</h6>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group mb-0">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AllowAllBuyers"
                    id="AllowAllBuyersTrue"
                    [value]="true"
                    formControlName="AllowAllBuyers"
                    (change)="handleUpdatePromo(true, 'AllowAllBuyers')"
                  />
                  <label
                    class="form-check-label"
                    for="AllowAllBuyers"
                    translate
                  >
                    ADMIN.PROMOTIONS.ALL_BUYERS
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AllowAllBuyers"
                    id="AllowAllBuyersFalse"
                    [value]="false"
                    formControlName="AllowAllBuyers"
                    (change)="handleUpdatePromo(false, 'AllowAllBuyers')"
                  />
                  <label
                    class="form-check-label"
                    for="SpecificBuyers"
                    translate
                  >
                    ADMIN.PROMOTIONS.SPECIFIC_BUYERS
                  </label>
                </div>
              </div>
            </div>
            <!-- START SPECIFIC BUYERS -->
            <div class="col-md-8">
              <ng-container *ngIf="!_promotionEditable?.AllowAllBuyers">
                <div
                  id="buyersCollapsed"
                  [ngbCollapse]="buyersCollapsed"
                  aria-label="parent resource dropdown"
                >
                  <search-component
                    class="mr-3 w-100"
                    id="buyer-search"
                    [placeholderText]="''"
                    [searchTermInput]="searchTerm"
                    (searched)="searchedResources($event)"
                  >
                  </search-component>
                  <perfect-scrollbar
                    class="
                      dropdown-ps
                      product-search-area
                      border border-light
                      shadow-sm
                    "
                    (psYReachEnd)="handleScrollEnd($event)"
                  >
                    <button
                      type="button"
                      ngbDropdownItem
                      *ngFor="let resource of buyers | async"
                      (click)="addBuyer(resource.ID)"
                      [disabled]="buyerAlreadySelected(resource.ID)"
                      aria-label="select your Buyer"
                    >
                      <div class="overflow-hidden">
                        <summary-resource-display-component
                          [resource]="resource"
                          [resourceType]="'buyers'"
                        >
                        </summary-resource-display-component>
                      </div>
                    </button>
                    <p
                      class="mb-0"
                      *ngIf="!buyers?.value?.length && searchTerm"
                      ngbDropdownItem
                      disabled
                      translate
                    >
                      ADMIN.PROMOTIONS.NO_RESULTS
                    </p>
                  </perfect-scrollbar>
                </div>
                <div class="chip-bag">
                  <div
                    class="chip chip-sm"
                    *ngFor="let buyerID of _promotionEditable?.xp?.Buyers"
                  >
                    {{ buyerID }}
                    <fa-icon
                      (click)="removeBuyer(buyerID)"
                      [icon]="faTimesCircle"
                    ></fa-icon>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- END SPECIFIC BUYERS -->
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <h6 class="font-weight-medium" translate>
            ADMIN.PROMOTIONS.USAGE_LIMITS
          </h6>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [checked]="hasRedemptionLimit"
              (input)="toggleHasRedemptionLimit()"
              id="HasRedemptionLimit"
            />
            <label
              class="custom-control-label"
              for="HasRedemptionLimit"
              translate
              >ADMIN.PROMOTIONS.LIMIT_TIMES_DISCOUNT</label
            >
          </div>
          <input
            [hidden]="!hasRedemptionLimit"
            class="form-control w-25"
            type="number"
            [value]="_promotionEditable?.RedemptionLimit"
            min="0"
            (input)="handleUpdatePromo($event, 'RedemptionLimit', 'number')"
            formControlName="RedemptionLimit"
            name="RedemptionLimit"
          />
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [checked]="limitPerUser"
              (input)="toggleLimitPerUser()"
              id="LimitPerUser"
            />
            <label class="custom-control-label" for="LimitPerUser" translate
              >ADMIN.PROMOTIONS.LIMIT_TIMES_REDEEM</label
            >
          </div>
          <input
            [hidden]="!limitPerUser"
            class="form-control w-25"
            type="number"
            [value]="_promotionEditable?.RedemptionLimitPerUser"
            min="0"
            (input)="
              handleUpdatePromo($event, 'RedemptionLimitPerUser', 'number')
            "
            formControlName="RedemptionLimitPerUser"
            name="RedemptionLimitPerUser"
          />
        </div>
        <div class="card bg-white shadow-sm p-4 mt-3">
          <h6 class="font-weight-medium" translate>
            ADMIN.PROMOTIONS.ACTIVE_DATES
          </h6>
          <div class="form-group">
            <label for="StartDate" translate
              >ADMIN.PROMOTIONS.START_DATE_TIME
              <fa-icon
                [icon]="faQuestionCircle"
                autoClose="outside"
                [ngbPopover]="utcinfo"
                triggers="hover"
                #popover="ngbPopover"
              >
              </fa-icon>
            </label>
            <ng-template #utcinfo>
              <p translate>ADMIN.PROMOTIONS.UTC_EXPLANATION</p>
            </ng-template>
            <input
              class="form-control col-6"
              type="datetime-local"
              [value]="_promotionEditable?.StartDate"
              (input)="handleUpdatePromo($event, 'StartDate')"
              name="StartDate"
              formControlName="StartDate"
              [min]="getMinDate()"
            />
          </div>
          <div class="custom-control custom-checkbox">
            <input
              aria-labeledby="HasExpiration"
              type="checkbox"
              class="custom-control-input"
              (input)="toggleHasExpiration()"
              [checked]="hasExpiration"
              id="HasExpiration"
            />
            <label class="custom-control-label" for="HasExpiration" translate
              >ADMIN.PROMOTIONS.SET_EXPIRATION_DATE</label
            >
          </div>
          <div *ngIf="hasExpiration" class="form-group mt-3">
            <label for="StartDate" translate
              >ADMIN.PROMOTIONS.EXPIRATION_DATE_TIME<small>
                <fa-icon
                  [icon]="faQuestionCircle"
                  autoClose="outside"
                  [ngbPopover]="utcinfo"
                  triggers="hover"
                  #popover="ngbPopover"
                ></fa-icon> </small
            ></label>
            <input
              class="form-control col-6"
              type="datetime-local"
              [value]="_promotionEditable?.ExpirationDate"
              (input)="handleUpdatePromo($event, 'ExpirationDate')"
              name="ExpirationDate"
              formControlName="ExpirationDate"
              [min]="getMinDate()"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5 mt-3 mt-md-0">
      <div class="sticky-top">
        <div class="card bg-white shadow-sm p-4">
          <h6 class="mb-0" translate>ADMIN.PROMOTIONS.SUMMARY</h6>
          <div
            *ngIf="!isCreatingNew && hasNotBegun"
            class="headstart-alert small shadow-sm my-3"
            translate
          >
            <fa-icon [icon]="faExclamationCircle" class="mr-3"></fa-icon>
            Begins {{ _promotionEditable?.StartDate | date: 'medium' }} UTC
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="font-weight-bold my-2">
              {{ _promotionEditable?.Code }}
            </h5>
            <div
              *ngIf="
                _promotionEditable?.xp?.Automatic ||
                (!isCreatingNew && !isExpired && !hasNotBegun) ||
                (isCreatingNew && isExpired)
              "
              class="d-flex justify-content-start align-items-center"
            >
              <span
                *ngIf="_promotionEditable?.xp?.Automatic"
                class="badge badge-pill badge-warning mr-1"
                translate
              >
                ADMIN.PROMOTIONS.AUTOMATIC
              </span>
              <span
                *ngIf="!isCreatingNew && !isExpired && !hasNotBegun"
                class="badge badge-pill badge-success"
                translate
              >
                ADMIN.PROMOTIONS.ACTIVE
              </span>
              <span
                *ngIf="!isCreatingNew && isExpired"
                class="badge badge-pill badge-light"
                translate
              >
                ADMIN.PROMOTIONS.EXPIRED
              </span>
            </div>
          </div>
          <p
            *ngIf="
              !_promotionEditable?.Code &&
              (!_promotionEditable?.xp?.Value ||
                !_promotionEditable?.xp?.BOGO?.Value)
            "
            translate
          >
            ADMIN.PROMOTIONS.NO_INFO_ENTERED
          </p>
          <ng-container
            *ngIf="
              _promotionEditable?.xp?.Value ||
              _promotionEditable?.xp?.BOGO?.Value ||
              _promotionEditable?.xp?.Type === 'FreeShipping'
            "
          >
            <ul>
              <li>{{ getValueDisplay() }}</li>
              <li
                *ngIf="
                  _promotionEditable?.StartDate &&
                  _promotionEditable?.ExpirationDate
                "
              >
                {{ getDateRangeDisplay() }}
              </li>
              <li *ngIf="_promotionEditable?.xp?.MaxShipCost" translate>
                ADMIN.PROMOTIONS.APPLIES_TO_RATES
                {{ _promotionEditable?.xp?.MaxShipCost | currency }}
              </li>
              <li>{{ getEligibilityDisplay() }}</li>
              <li
                *ngIf="
                  _promotionEditable?.RedemptionLimit ||
                  _promotionEditable?.RedemptionLimitPerUser
                "
              >
                {{ getUsageLimitDisplay() }}
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="!isCreatingNew && _promotionStatic.ID">
            <hr />
            <h6 translate>ADMIN.PROMOTIONS.PERFORMANCE</h6>
            <ul>
              <li>
                {{ this._promotionStatic?.RedemptionCount }}
                {{ 'ADMIN.PROMOTIONS.USED' | translate }}
              </li>
            </ul>
          </ng-container>
        </div>
        <div class="d-flex flex-row justify-content-end mt-3">
          <button
            *ngIf="areChanges || isCreatingNew"
            class="btn btn-primary mr-2"
            type="submit"
            [disabled]="isSaveDisabled()"
            (click)="handleSave()"
          >
            {{ getSaveBtnText() }}
          </button>
          <button
            class="btn brand-button ml-3"
            (click)="handleDiscardChanges()"
            *ngIf="areChanges && !isCreatingNew"
            translate
          >
            ADMIN.PROMOTIONS.DISCARD_CHANGES
          </button>
          <delete-confirm-modal-component
            *ngIf="!isCreatingNew"
            buttonText="ADMIN.NAV.PROMOTION"
            (deleteConfirmed)="handleDelete($event)"
          >
          </delete-confirm-modal-component>
        </div>
      </div>
    </div>
  </div>
</div>
