<configuration>
    <system.webServer>
        <rewrite>
        <rules>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains"/>
                <add name="X-Xss-Protection" value="1; mode=block"/>
                <add name="Cache-Control" value="no-cache, no-store"/>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
                <add name="Content-Security-Policy" value="default-src 'self'; connect-src *; font-src *; frame-src *; img-src * data:; media-src *; object-src *; script-src * 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline';" />
                <add name="Feature-Policy" value="accelerometer 'none'; ambient-light-sensor 'none'; animations *; autoplay *; camera 'none'; display-capture *; document-write *; encrypted-media *; fullscreen *; geolocation 'none'; gyroscope 'none'; image-compression *; layout-animations *; legacy-image-formats *; magnetometer 'none'; max-downscaling-image *; microphone 'none'; midi 'none'; oversized-images *; payment 'none'; picture-in-picture *; publickey-credentials 'none'; speaker *; sync-xhr *; unsized-media *; usb 'none'; vr 'none'; vertical-scroll *; wake-lock 'none';" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>