// Icon Buttons

.btn-icon {
  padding: 0.75rem;
  border-radius: 180px;
  transition: background-color 0.25s;
  &:hover {
    cursor: pointer;
  }
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
}

.btn-remove {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  color: $danger;
  font-size: .65rem;
  &:hover {
    color: darken($danger, 10%);
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
    position: relative;
    padding: .5rem 0;
    text-align: right;
    display: block;
    margin-left: auto;
  }
}

.btn-xs {
  padding: 0.15rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.2rem;
}