@mixin ribbon-fold-bg($bg-color: $primary) {
  &.ribbon-bottom-left {
    &:after {
      border-bottom-color: darken($bg-color, 10);
      border-right-color: darken($bg-color, 10);
    }
  }

  &.ribbon-bottom-right {
    &:after {
      border-bottom-color: darken($bg-color, 10);
      border-left-color: darken($bg-color, 10);
    }
  }

  &.ribbon-top-left {
    &:after {
      border-top-color: darken($bg-color, 10);
      border-right-color: darken($bg-color, 10);
    }
  }

  &.ribbon-top-right {
    &:after {
      border-top-color: darken($bg-color, 10);
      border-left-color: darken($bg-color, 10);
    }
  }
}


.ribbon {
  z-index: 1;
  position: absolute;
  background-color: $primary;
  padding: .25rem .5rem;

  &:after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
  }

  &-top-left,
  &-bottom-left {
    left: -8px;
    &:after {
      left: 0;
    }
  }

  &-top-right,
  &-bottom-right {
    right: -8px;
    &:after {
      right: 0;
    }
  }

  &-top-right,
  &-top-left {
    top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &:after {
      bottom: -8px;
    }
  }

  &-bottom-left,
  &-bottom-right {
    bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    &:after {
      top: -8px;
    }
  }

  &-bottom-left {
    border-top-right-radius: 4px;
  }

  &-bottom-right {
    border-top-left-radius: 4px;
  }

  &-top-right {
    border-bottom-left-radius: 4px;
  }

  &-top-left {
    border-bottom-right-radius: 4px;
  }

  @include ribbon-fold-bg();

  &.bg-warning {
    @include ribbon-fold-bg($warning);
  }

  &.bg-info {
    @include ribbon-fold-bg($info);
  }

  &.bg-danger {
    @include ribbon-fold-bg($danger);
  }

  &.bg-light {
    @include ribbon-fold-bg($light);
  }

  &.bg-dark {
    @include ribbon-fold-bg($dark);
  }

  &.bg-secondary {
    @include ribbon-fold-bg($secondary);
  }
}