<form *ngIf="resourceForm" [formGroup]="resourceForm">
  <div class="form-group">
    <label for="ID">ID</label>
    <input 
      id="ID"
      type="text"
      class="form-control"
      formControlName="ID"
      (input)="handleUpdateResource($event)"
      placeholder="Enter ID"
    />
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input 
      id="Name"
      type="text"
      class="form-control"
      formControlName="Name"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Name"
    />
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  <div class="form-group">
    <label for="ApprovingGroupID">Buyer Group Rule Applies To</label>
    <select formControlName="ApprovingGroupID" (change)="handleLocationSelect">
      <option *ngFor="let location of existingLocations?.Items" value="location.ID">
        {{ location.Name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  <div class="form-group">
    <label for="Description">Order Threshold</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  
    <!-- <div *ngFor="let field of _resourceFields">
      <div *ngIf="field.type === 'string'" class="form-group">
        <label for="{{ field.field }}">{{ field.field | uncamel }}</label>
        <input
          type="text"
          class="form-control"
          id="{{ field.field }}"
          aria-describedby="{{ field.field }}"
          [resourceForm]="resourceForm"
          [maxLength]="field.maxLength"
          formControlName="{{ field.field }}"
          (input)="handleUpdateResource($event)"
          placeholder="Enter {{ field.field }}"
        />
      </div>
      <div *ngIf="field.type === 'number'" class="form-group">
        <label for="{{ field.field }}">{{ field.field | uncamel }}</label>
        <input
          *ngIf="field.type === 'number'"
          type="number"
          class="form-control"
          id="{{ field.field }}"
          aria-describedby="{{ field.field }}"
          [resourceForm]="resourceForm"
          formControlName="{{ field.field }}"
          (input)="handleUpdateResource($event)"
          placeholder="Enter {{ field.field }}"
        />
      </div>
      <div *ngIf="field.type === 'date'" class="form-group">
        <label for="{{ field.field }}">{{ field.field | uncamel }}</label>
        <input
          *ngIf="field.type === 'date'"
          type="date"
          class="form-control"
          id="{{ field.field }}"
          aria-describedby="{{ field.field }}"
          [resourceForm]="resourceForm"
          formControlName="{{ field.field }}"
          (input)="handleUpdateResource($event)"
          placeholder="Enter {{ field.field }}"
        />
      </div>
      <div *ngIf="field.type === 'boolean'">
        <p class="mb-1">{{ field.field | uncamel }}</p>
        <label class="switch mb-0" for="{{ field.field }}">
          <input
            type="checkbox"
            class="form-check-input"
            id="{{ field.field }}"
            aria-describedby="{{ field.field }}"
            [resourceForm]="resourceForm"
            formControlName="{{ field.field }}"
            (input)="handleUpdateResource($event, 'boolean')"
          />
          <span class="slider round cursor-pointer"></span>
        </label>
      </div>
    </div> -->
  </form>