<form *ngIf="resourceForm" [formGroup]="resourceForm">
  <div class="form-group">
    <label for="ID">ID</label>
    <input 
      id="ID"
      type="text"
      class="form-control"
      formControlName="ID"
      (input)="handleUpdateResource($event)"
      placeholder="Enter ID"
    />
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input 
      id="Name"
      type="text"
      class="form-control"
      formControlName="Name"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Name"
    />
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  <div class="form-group">
    <label for="ApprovingGroupID">Buyer Group Rule Applies To</label>
    <select formControlName="ApprovingGroupID" 
        (change)="handleLocationSelect($event)"
        type="dropdown"
        class="form-control">
      <option *ngFor="let location of existingLocations?.Items" value="location.ID">
        {{ location.Name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  <div class="form-group">
    <label for="Description">Order Threshold</label>
    <input 
      id="Description"
      type="text"
      class="form-control"
      formControlName="Description"
      (input)="handleUpdateResource($event)"
      placeholder="Enter Description"
    />
  </div>
  </form>