<!-- TODO: Componentize into smaller chunks (Order Details, Address, Payment, Line Item) -->
<div class="container float-left order-detail-pdf-range">
  <p>
    <ngb-progressbar
      [animated]="orderProgress?.Animated"
      [striped]="orderProgress?.Striped"
      [type]="orderProgress?.ProgressBarType"
      [value]="orderProgress?.Value"
      height="25px"
      >{{ orderProgress?.StatusDisplay }}</ngb-progressbar
    >
  </p>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="d-flex justify-content-start align-items-center mb-0">
      <span class="d-print-none">Order&nbsp;</span>#{{ _order?.ID }}
      <span
        *ngIf="_order?.xp?.OrderType === 'Quote'"
        class="small badge badge-pill badge-warning ml-2 order-type-text"
        >{{ _order?.xp?.OrderType }}</span
      >
    </h3>
    <button
      *ngIf="
        _order?.xp?.OrderType === 'Quote' &&
        _order?.xp?.SubmittedOrderStatus !== 'Completed'
      "
      class="btn btn-outline-primary d-print-none"
      (click)="setOrderStatus()"
    >
      Acknowledge Quote
    </button>
    <button
      *ngIf="_order?.xp?.OrderType !== 'Quote' && orderDirection === 'Incoming'"
      class="btn btn-outline-primary d-print-none"
      (click)="createAndSavePDF()"
    >
      <fa-icon [icon]="faDownload"></fa-icon> Download Order Invoice PDF
    </button>
  </div>
  <div class="d-block text-right mb-2">
    <span class="font-weight-bold">
      Order Placed: {{ _order?.DateSubmitted | date: 'medium' }}
    </span>
  </div>
  <div class="card card--order-details py-2 px-3 bg-white mb-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="d-flex justify-content-start align-items-center">
        <div
          *ngIf="orderAvatarInitials !== 'undefinedundefined'"
          [attr.data-letters]="orderAvatarInitials"
          class="avatar"
        ></div>
        <div
          *ngIf="orderAvatarInitials === 'undefinedundefined'"
          class="avatar-default"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="ml-2" *ngIf="!isQuoteOrder(_order)">
          <p class="h5 mb-0 text-capitalize font-weight-bold">
            {{ _buyerOrder?.FromUser?.FirstName }}
            {{ _buyerOrder?.FromUser?.LastName }}
          </p>
          <p class="mb-0" *ngIf="_buyerOrder?.FromUser?.Phone">
            {{ _buyerOrder?.FromUser?.Phone | tel }}
          </p>
          <p class="mb-0" *ngIf="_buyerOrder?.FromUser?.Email">
            {{ _buyerOrder?.FromUser?.Email }}
          </p>
          <p class="mb-0" *ngIf="_buyerOrder?.BillingAddress?.xp?.LocationID">
            <span class="font-weight-bold">Location ID</span><span>: </span>
            {{ _buyerOrder?.BillingAddress?.xp?.LocationID }}
          </p>
        </div>
        <div class="ml-2" *ngIf="isQuoteOrder(_order)">
          <p class="h5 mb-0 text-capitalize font-weight-bold">
            {{ _order.xp?.QuoteOrderInfo?.FirstName }}
            {{ _order.xp?.QuoteOrderInfo?.LastName }}
          </p>
          <p class="mb-0" *ngIf="_order.xp?.QuoteOrderInfo?.Phone">
            {{ _order.xp?.QuoteOrderInfo?.Phone | tel }}
          </p>
          <p class="mb-0" *ngIf="_order.xp?.QuoteOrderInfo?.Email">
            {{ _order.xp?.QuoteOrderInfo?.Email }}
          </p>
          <p class="mb-0" *ngIf="_order.xp?.QuoteOrderInfo?.BuyerLocation">
            {{ _order.xp?.QuoteOrderInfo?.BuyerLocation }}
          </p>
          <p class="mb-0" *ngIf="_buyerOrder?.BillingAddress?.xp?.LocationID">
            <span class="font-weight-bold">Location ID</span><span>: </span>
            {{ _buyerOrder?.BillingAddress?.xp?.LocationID }}
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-start">
        <div
          *ngIf="_supplierOrder?.FromUser && !isQuoteOrder(_order)"
          class="mr-3"
        >
          <small class="font-weight-bolder text-muted text-uppercase d-block"
            >Bill To</small
          >
          <small class="mb-0 text-capitalize d-block font-weight-bold"
            >{{ _supplierOrder.FromUser?.FirstName }}
            {{ _supplierOrder.FromUser?.LastName }}</small
          >

          <!-- SEB-Specific Address Information -->
          <small class="mb-0 text-capitalize d-block"
            >8646 Eagle Creek Circle, Suite 107</small
          >
          <small class="mb-0 text-capitalize d-block">Savage, MN 55378</small>

          <small class="mb-0 d-block">{{
            _supplierOrder.FromUser?.Email
          }}</small>
          <small class="mb-0 d-block">{{
            _supplierOrder.FromUser?.Phone | tel
          }}</small>
        </div>
        <div *ngIf="_lineItems[0]?.ShippingAddress && !isQuoteOrder(_order)">
          <small class="font-weight-bolder text-muted text-uppercase d-block"
            >Ship To</small
          >
          <small class="mb-0 text-capitalize d-block font-weight-bold">{{
            _lineItems[0]?.ShippingAddress?.CompanyName
          }}</small>
          <small class="mb-0 text-capitalize d-block"
            >{{ _lineItems[0]?.ShippingAddress?.Street1
            }}<span *ngIf="_lineItems[0]?.ShippingAddress?.Street2"
              >, {{ _lineItems[0]?.ShippingAddress?.Street2 }}</span
            ></small
          >
          <small class="mb-0 text-capitalize d-block"
            >{{ _lineItems[0]?.ShippingAddress?.City }},
            {{ _lineItems[0]?.ShippingAddress?.State }}
            {{ _lineItems[0]?.ShippingAddress?.Zip }}</small
          >
          <small
            *ngIf="getFullName(_lineItems[0].ShippingAddress) !== ''"
            class="mb-0"
            >{{ getFullName(_lineItems[0].ShippingAddress) }}
            <span
              *ngIf="
                _lineItems[0]?.ShippingAddress?.Phone &&
                _lineItems[0]?.ShippingAddress?.Phone !== ''
              "
            >
              | {{ _lineItems[0]?.ShippingAddress?.Phone | tel }}</span
            >
          </small>
        </div>
        <div
          *ngIf="_order?.BillingAddress && !isQuoteOrder(_order)"
          class="pl-4 ml-4 border-left"
        >
          <small class="font-weight-bolder text-muted text-uppercase d-block"
            >Bill To</small
          >
          <small class="mb-0 text-capitalize d-block font-weight-bold">{{
            _order?.BillingAddress?.CompanyName
          }}</small>
          <small class="mb-0 text-capitalize d-block"
            >{{ _order?.BillingAddress?.Street1
            }}<span *ngIf="_order?.BillingAddress?.Street2"
              >, {{ _order?.BillingAddress?.Street2 }}</span
            ></small
          >
          <small class="mb-0 text-capitalize d-block"
            >{{ _order?.BillingAddress?.City }},
            {{ _order?.BillingAddress?.State }}
            {{ _order?.BillingAddress?.Zip }}</small
          >
          <small *ngIf="getFullName(_order.BillingAddress) !== ''" class="mb-0"
            >{{ getFullName(_order.BillingAddress) }}
            <span
              *ngIf="
                _lineItems[0]?.BillingAddress?.Phone &&
                _lineItems[0]?.BillingAddress?.Phone !== ''
              "
            >
              | {{ _order?.BillingAddress?.Phone | tel }}</span
            >
          </small>
        </div>
      </div>
      <div *ngIf="_buyerQuoteAddress" class="d-block text-right">
        <small class="font-weight-bolder text-muted text-uppercase d-block"
          >Ship To</small
        >
        <small class="mb-0 text-capitalize d-block font-weight-bold">{{
          _buyerQuoteAddress.CompanyName
        }}</small>
        <small class="mb-0 text-capitalize d-block"
          >{{ _buyerQuoteAddress.Street1
          }}<span *ngIf="_buyerQuoteAddress.Street2"
            >, {{ _buyerQuoteAddress.Street2 }}</span
          ></small
        >
        <small class="mb-0 text-capitalize d-block"
          >{{ _buyerQuoteAddress.City }},
          {{ _buyerQuoteAddress.State }}
          {{ _buyerQuoteAddress.Zip }}</small
        >
      </div>
    </div>
    <!-- Comments -->
    <div
      *ngIf="isQuoteOrder(_order) && _order?.xp?.QuoteOrderInfo?.Comments"
      class="alert alert-secondary small mt-3"
    >
      <strong>Comments: </strong> {{ _order.xp?.QuoteOrderInfo?.Comments }}
    </div>
    <div
      *ngIf="!isQuoteOrder(_order) && _buyerOrder?.Comments"
      class="alert alert-secondary small mt-3"
    >
      <strong>Comments: </strong> {{ _buyerOrder.Comments }}
    </div>

    <h5 *ngIf="rmas?.length > 0">RMAs on Order</h5>
    <div *ngFor="let rma of rmas">
      <a [routerLink]="buildOrderDetailsRoute(rma)" class="nav-link p-1">
        {{ rma?.RMANumber }} - {{ rma?.Type }}
        {{ rma?.Status }}
      </a>
    </div>

    <!-- Shipment Info -->
    <app-order-shipments
      (createOrViewShipmentEvent)="toggleCreateShipment($event)"
      (shipmentCreated)="refreshOrder()"
      [order]="_order"
      [orderDirection]="orderDirection"
    >
    </app-order-shipments>
    <!-- Line Items -->
    <app-line-item-table
      [lineItems]="_lineItems"
      [orderDirection]="orderDirection"
      (orderChange)="refreshOrder()"
      [order]="_order"
    >
    </app-line-item-table>
    <div class="row">
      <div class="col-md-7">
        <!-- Placeholder to keep order summary in place -->
      </div>
      <div class="col-md-5">
        <!-- Order Summary (Totals, Tax, Discounts, Payments etc) -->
        <ng-container *ngIf="!isQuoteOrder(_order)">
          <div *ngIf="orderDirection === 'Incoming'">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <p class="font-weight-bolder mb-0 text-muted">Subtotal</p>
              <p class="mb-0">
                {{ _order.Subtotal | currency: _order?.xp?.Currency }}
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-1">
              <p class="font-weight-bolder mb-0 text-muted">Shipping</p>
              <p class="mb-0">
                {{ _order.ShippingCost | currency: _order?.xp?.Currency }}
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-1">
              <p class="font-weight-bolder mb-0 text-muted">Tax</p>
              <p class="mb-0">
                {{ _order.TaxCost | currency: _order?.xp?.Currency }}
              </p>
            </div>
            <div
              class="d-flex justify-content-between align-items-center mb-1"
              *ngIf="_order.PromotionDiscount"
            >
              <p class="font-weight-bolder mb-0 text-muted">Promo Discount</p>
              <p class="font-weight-bolder mb-0 text-success">
                -{{
                  _order?.PromotionDiscount | currency: _order?.xp?.Currency
                }}
              </p>
            </div>
          </div>
          <hr class="my-2" />
          <div class="d-flex justify-content-between align-items-center my-2">
            <p class="font-weight-bolder mb-0">Total</p>
            <p class="font-weight-bolder mb-0">
              {{ _order?.xp?.Currency
              }}{{ _order?.Total | currency: _order?.xp?.Currency }}
            </p>
          </div>
          <div
            *ngFor="let payment of _payments"
            class="d-flex justify-content-between align-items-center"
          >
            <p *ngIf="payment.Type === 'CreditCard'" class="font-italic">
              {{ setCardType(payment) }} ending in
              {{ payment.xp.partialAccountNumber }}
            </p>
            <p *ngIf="payment.Type === 'SpendingAccount'" class="font-italic">
              Spending Account: {{ payment.Details.Name }}
            </p>
            <p class="text-danger">
              -{{ _order?.xp?.Currency
              }}{{ payment.Amount | currency: _order?.xp?.Currency }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
