<div class="large-paddding-top">
  <div class="text-center mt-3">
    <h1 class="display-4">{{ appConfig.appname }}</h1>
  </div>
  <div class="mx-auto forgot-password-container">
    <h3 class="text-center text-muted mb-3">Forgot Password</h3>
    <span class="mb-3"
      >Please provide either your email <strong>OR</strong> username</span
    >
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="resetEmailForm"
      name="ResetEmail"
      autocomplete="off"
      novalidate
    >
      <div class="form-group">
        <label for="email" class="sr-only">Email</label>
        <input
          formControlName="email"
          id="email"
          type="text"
          class="form-control"
          placeholder="Email"
          autocapitalize="off"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          formControlName="username"
          id="username"
          type="username"
          class="form-control"
          placeholder="Username"
          autocapitalize="off"
        />
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary btn-block">
        Send Email
      </button>
    </form>
    <button type="button" class="btn btn-link btn-block" routerLink="/login">
      Return to Login
    </button>
  </div>
</div>
