<div class="container">
  <div class="order-detail-pdf-range">
    <div *ngIf="order">
      <nav *ngIf="!isAnon" class="breadcrumb" aria-label="breadcrumb">
        <a class="breadcrumb-item" (click)="toAllOrders()" translate
          >ORDERS.DETAIL.ALL</a
        >
        <a class="breadcrumb-item" aria-current="page">{{ order.ID }}</a>
      </nav>
      <div
        class="
          d-flex
          flex-wrap
          align-items-center
          justify-content-between
          pb-2
          mt-4
          mb-2
        "
      >
        <h2>
          <span class="text-muted"
            ><span translate>ORDERS.DETAIL.ORDER</span> #:</span
          >
          {{ order.ID }}
          <span
            *ngIf="order.xp.OrderType === 'Quote'"
            class="badge badge-pill badge-primary ml-2"
            >{{ order.xp.OrderType }}</span
          >
        </h2>
        <ng-container *ngIf="subView === 'details'">
          <button
            class="btn btn-sm btn-outline-primary d-print-none"
            (click)="createAndSavePDF()"
            type="button"
            translate
          >
            ORDERS.DETAIL.DOWNLOAD_AS_PDF
          </button>
        </ng-container>
      </div>
      <div class="row my-3">
        <div class="col-md-4">
          <span class="text-muted small">
            <span translate> ORDERS.DETAIL.SUBMITTED</span>
            {{ order.DateSubmitted | date: 'short' }}</span
          >
          <ul class="list-group mt-2">
            <li class="list-group-item">
              <span translate>ORDERS.DETAIL.STATUS</span>:
              <ocm-order-status-icon
                [status]="getOrderStatus()"
              ></ocm-order-status-icon>
              {{ getOrderStatus() }}
            </li>
            <li class="list-group-item">
              <span translate>ORDERS.DETAIL.SHIPPING_STATUS</span>:
              <ocm-order-status-icon
                [status]="order.xp.ShippingStatus"
              ></ocm-order-status-icon>
              {{ order.xp.ShippingStatus | orderStatusDisplay }}
            </li>
            <li class="list-group-item">
              <span translate>ORDERS.DETAIL.CLAIM_STATUS</span>:
              <ocm-order-status-icon
                [status]="order.xp.ClaimStatus"
              ></ocm-order-status-icon>
              {{ order.xp.ClaimStatus | orderStatusDisplay }}
            </li>
          </ul>
        </div>
        <div
          class="
            col-md-8
            mt-3 mt-md-0
            d-flex
            flex-wrap
            gap-2
            align-items-end
            justify-content-end
          "
        >
          <ocm-order-approval
            *ngIf="approvalVersion"
            class="float-right"
            [orderID]="order?.ID"
          ></ocm-order-approval>

          <button
            *ngIf="!approvalVersion && !isAnon"
            class="btn btn-outline-secondary float-right d-print-none"
            (click)="toggleFavorite(order)"
            translate
          >
            ORDERS.DETAIL.FAVORITE
            <ocm-toggle-favorite
              title="Favorite"
              [favorite]="isFavorite(order.ID)"
            >
            </ocm-toggle-favorite>
          </button>
          <button
            *ngIf="
              !approvalVersion &&
              !isQuoteOrder(order) &&
              order.Status !== 'Unsubmitted'
            "
            class="btn btn-secondary d-print-none"
            (click)="open(reorderModal)"
            translate
          >
            ORDERS.DETAIL.REORDER
          </button>
          <button
            *ngIf="
              !showRequestReturn &&
              !showRequestCancel &&
              canRequestReturn() &&
              !approvalVersion &&
              !isQuoteOrder(order)
            "
            class="btn btn-secondary d-print-none"
            (click)="toggleRequestReturn()"
            translate
          >
            ORDERS.DETAIL.REQUEST_A_RETURN
          </button>
          <button
            *ngIf="
              showRequestCancel &&
              !isQuoteOrder(order) &&
              order.Status !== 'Unsubmitted'
            "
            class="btn btn-secondary d-print-none"
            (click)="toggleRequestCancel()"
            translate
          >
            ORDERS.DETAIL.DISCARD_CANCEL_REQUEST
          </button>
          <button
            *ngIf="
              !showRequestCancel &&
              !showRequestReturn &&
              canRequestCancel() &&
              !approvalVersion &&
              !isQuoteOrder(order)
            "
            class="btn btn-secondary d-print-none"
            (click)="toggleRequestCancel()"
            translate
          >
            ORDERS.DETAIL.REQUEST_A_CANCEL
          </button>
          <button
            *ngIf="
              showRequestReturn &&
              !isQuoteOrder(order) &&
              order.Status !== 'Unsubmitted'
            "
            class="btn btn-secondary d-print-none"
            (click)="toggleRequestReturn()"
            translate
          >
            ORDERS.DETAIL.DISCARD_RETURN_REQUEST
          </button>

          <button
            *ngIf="
              !approvalVersion &&
              !isQuoteOrder(order) &&
              order.Status === 'Unsubmitted'
            "
            class="btn btn-secondary d-print-none"
            (click)="open(updateOrderModal)"
            translate
          >
            ORDERS.DETAIL.UPDATE
          </button>
          <!-- TODO: refactor the reorder process to not be in a modal -->
          <ng-template #reorderModal let-modal class="confirm-modal">
            <confirm-modal
              [modalTitle]="'Reorder'"
              aria-labelledby="confirm-modal"
            >
              <div
                class="alert"
                [ngClass]="{
                  'alert-danger': message.classType == 'danger',
                  'alert-warning': message.classType == 'warning',
                  'alert-success': message.classType == 'success'
                }"
              >
                <p [innerHTML]="message.string"></p>
              </div>
              <ocm-lineitem-table
                *ngIf="reorderResponse.InvalidLi.length"
                [lineItems]="reorderResponse.InvalidLi"
                [readOnly]="true"
                [invalidItem]="true"
              >
              </ocm-lineitem-table>
              <div
                class="
                  row
                  d-flex
                  justify-content-space-between justify-content-between
                  mr-2
                  ml-2
                "
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="modal.dismiss()"
                  translate
                >
                  ORDERS.DETAIL.CANCEL
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  [disabled]="!reorderResponse?.ValidLi?.length"
                  (click)="addToCart(); modal.dismiss()"
                  translate
                >
                  ORDERS.DETAIL.ADD_TO_CART
                </button>
              </div>
            </confirm-modal>
          </ng-template>
          <ng-template #updateOrderModal let-modal class="confirm-modal">
            <confirm-modal
              [modalTitle]="'Update Order'"
              aria-labelledby="confirm-modal"
            >
              <div class="alert alert-warning">
                <p translate>ORDERS.DETAIL.WARNING</p>
              </div>
              <div
                class="
                  row
                  d-flex
                  justify-content-space-between justify-content-between
                  mr-2
                  ml-2
                "
              >
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="modal.dismiss()"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="moveOrderToCart(); modal.dismiss()"
                  translate
                >
                  ORDERS.DETAIL.MOVE_TO_CART
                </button>
              </div>
            </confirm-modal>
          </ng-template>
        </div>
      </div>
    </div>
    <ul *ngIf="!approvalVersion" class="nav nav-tabs mb-2 mt-4 d-print-none">
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-link nav-link"
          [ngClass]="{ active: subView == 'details' }"
          (click)="toDetails()"
          translate
        >
          <fa-icon [icon]="faCube"></fa-icon>
          ORDERS.DETAIL.DETAILS
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-link nav-link"
          [ngClass]="{ active: subView == 'shipments' }"
          (click)="toShipments()"
          translate
        >
          <fa-icon [icon]="faTruck"></fa-icon>
          ORDERS.DETAIL.SHIPMENTS
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="toRMAs()" translate>
          <fa-icon [icon]="faExchangeAlt"></fa-icon>
          ORDERS.DETAIL.RMAS
        </button>
      </li>
    </ul>
    <ocm-order-historical
      class="d-block p-3"
      *ngIf="
        orderDetails &&
        showDetails() &&
        !showRequestReturn &&
        !showRequestCancel
      "
      [isOrderToApprove]="isOrderToApprove"
      [orderDetails]="orderDetails"
    >
    </ocm-order-historical>
  </div>
  <ocm-order-shipments
    class="d-block p-3"
    *ngIf="showShipments() && !showRequestReturn"
    [orderID]="order?.ID"
  >
  </ocm-order-shipments>
  <ocm-order-rmas
    *ngIf="showRMAs() && !showRequestReturn"
    [orderDetails]="orderDetails"
  >
  </ocm-order-rmas>
  <ocm-order-return
    class="d-block p-3"
    *ngIf="showRequestReturn || showRequestCancel"
    (viewReturnFormEvent)="toggleShowRequestForm($event.detail)"
    [isOrderToApprove]="isOrderToApprove"
    [orderDetails]="orderDetails"
    [action]="showRequestReturn ? 'return' : 'cancel'"
  >
  </ocm-order-return>
</div>
