<div class="mb-3">
  <div class="d-print-none mt-3">
    <button *ngIf="!this.isQuoteOrder(_order) && canShipLineItems()" class="btn btn-outline-dark mr-2"
      (click)="toggleCreateShipment()">
      <fa-icon [icon]="getCreateButtonIcon()"></fa-icon>
      {{ getCreateButtonAction() }} Shipment
    </button>
  </div>
  <div class="mt-3">
    <div *ngIf="createShipment && canShipLineItems()" class="p-3 mt-3 mb-2 border bg-light text-dark">
      <h5 class="mb-3 font-weight-bold">1) Enter Shipment Data</h5>
      <div *ngIf="currentUser?.mySupplier?.xp?.SyncFreightPop"
        class="alert alert-info d-flex justify-content-start align-items-center set-to-top">
        <fa-icon [icon]="faExclamationCircle" class="mr-3"> </fa-icon>
        <p class="mb-0">
          Use FedEx Account Number 303197303 to create your shipment.
        </p>
      </div>
      <form (ngSubmit)="onSubmit()" novalidate [formGroup]="shipmentForm" name="ShipmentForm">
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="TrackingNumber" class="control-label font-weight-bold mt-1">Tracking Number</label>
            <input type="text" required showErrors formControlName="TrackingNumber" class="form-control"
              id="trackingNumber" placeholder="Enter tracking number" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="Ship Date" class="control-label font-weight-bold mt-1">Ship Date</label>
            <input type="date" required showErrors formControlName="ShipDate" class="form-control" id="shipDate"
              placeholder="Enter ship date" />
          </div>
          <div class="col-sm-6">
            <label for="Cost" class="control-label font-weight-bold mt-1">Cost</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" formControlName="Cost" class="form-control" id="cost"
                placeholder="Enter shipping cost" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="Shipper" class="control-label font-weight-bold mt-1">Carrier</label>
            <input type="text" required showErrors formControlName="Shipper" class="form-control" id="Shipper"
              placeholder="Enter carrier name" />
          </div>
          <div class="col-sm-6">
            <label for="Service" class="control-label font-weight-bold mt-1">Shipping Service</label>
            <input type="text" formControlName="Service" class="form-control" id="Service"
              placeholder="Enter shipping service" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="Comment" class="control-label font-weight-bold mt-1">Comment</label>
            <textarea type="text" class="form-control" formControlName="Comment" placeholder="Enter comment" rows="3"
              maxLength="300"></textarea>
          </div>
        </div>
        <div class="form-group row mb-5">
          <div *ngIf="!editShipFromAddress" class="col-sm-6">
            <span class="font-weight-bold d-block">Ship From</span>
            <span *ngIf="lineItems[0].ShipFromAddress?.CompanyName" class="d-block">{{
              lineItems[0].ShipFromAddress.CompanyName }}</span>
            <span class="d-block">{{
              lineItems[0].ShipFromAddress.Street1
              }}</span>
            <span *ngIf="lineItems[0].ShipFromAddress?.Street2" class="d-block">{{ lineItems[0].ShipFromAddress.Street2
              }}</span>
            <span class="d-block">{{ lineItems[0].ShipFromAddress.City }},
              {{ lineItems[0].ShipFromAddress.State }}
              {{ lineItems[0].ShipFromAddress.Zip }}</span>

            <!-- TO-DO: Code to change the Ship From address on a shipment.  Waiting for platform issue to be resolved to allow post of supplier FromAddressID. -->
            <!-- <button class="d-block mt-3 btn btn-outline-dark"
                (click)="toggleEditShipFromAddress()">
                <fa-icon [icon]="faCog"></fa-icon> Edit Ship From Address
        </button> -->
          </div>

          <!-- TO-DO: Code to change the Ship From address on a shipment.  Waiting for platform issue to be resolved to allow post of supplier FromAddressID. -->
          <!-- <div *ngIf="editShipFromAddress" class="col-sm-6">
        <span class="font-weight-bold d-block">Ship From</span>
            <select type="dropdown"
                    class="form-control"
                    formControlName="FromAddressID" 
                    id="FromAddressID"
                    (change)="handleUpdateShipFromAddress($event.target.value)">
                <option *ngFor="let address of supplierAddresses.Items"
                        [value]="address.ID">{{address.Street1}} {{address?.Street2}}, {{address.City}}, {{address.State}} {{address.Zip}}</option>
            </select>
        <div class="mt-3 d-block">
            <button class="btn btn-outline-dark"
                    (click)="toggleEditShipFromAddress()">
                    <fa-icon [icon]="getEditShipFromAddressButtonIcon()"></fa-icon> {{getEditShipFromAddressButtonAction()}}
            </button>
            <button (click)="saveSupplierAddress()"
                    class="ml-3 btn btn-primary">Save</button>
        </div>
    </div> -->

          <div *ngIf="!editShipToAddress" class="col-sm-6">
            <span class="font-weight-bold d-block">Ship To</span>
            <span *ngIf="lineItems[0].ShippingAddress?.CompanyName" class="d-block">{{
              lineItems[0].ShippingAddress.CompanyName }}</span>
            <span class="d-block">{{
              lineItems[0].ShippingAddress?.Street1
              }}</span>
            <span *ngIf="lineItems[0].ShippingAddress?.Street2" class="d-block">{{ lineItems[0].ShippingAddress.Street2
              }}</span>
            <span class="d-block">{{ lineItems[0].ShippingAddress?.City }},
              {{ lineItems[0].ShippingAddress?.State }}
              {{ lineItems[0].ShippingAddress?.Zip }}</span>

            <!-- TO-DO: Some starting code to allow a supplier to override the Ship To address, but we need a way to identify the buyer of the order. -->
            <!-- <button class="d-block mt-3 btn btn-outline-dark"
                (click)="toggleEditShipToAddress()">
                <fa-icon [icon]="faCog"></fa-icon> Edit Ship To Address
        </button> -->
          </div>

          <!-- TO-DO: Some starting code to allow a supplier to override the Ship To address, but we need a way to identify the buyer of the order. -->
          <!-- <div *ngIf="editShipToAddress" class="col-sm-6">
        <span class="font-weight-bold d-block">Ship To</span>
            <select type="dropdown"
                    class="form-control"
                    formControlName="ToAddressID" 
                    id="ToAddressID"
                    (change)="handleUpdateShipFromAddress($event.target.value)">
                <option *ngFor="let address of buyerAddresses.Items"
                        [value]="address.ID">{{address.Street1}} {{address?.Street2}}, {{address.City}}, {{address.State}} {{address.Zip}}</option>
            </select>
            <div class="mt-3 d-block">
                <button class="btn btn-outline-dark"
                        (click)="toggleEditShipToAddress()">
                        <fa-icon [icon]="getEditShipToAddressButtonIcon()"></fa-icon> {{getEditShipToAddressButtonAction()}}
                </button>
                <button (click)="saveSupplierAddress()"
                        class="ml-3 btn btn-primary">Save</button>
            </div>
    </div> -->
        </div>
        <hr />
        <h5 class="mt-4 mb-3 font-weight-bold inline-header">
          2) Set Quantity to Ship
        </h5>
        <div class="custom-control custom-checkbox align-right">
          <input type="checkbox" class="custom-control-input" id="shipAllItems" [checked]="shipAllItems"
            aria-describedby="shipAllItems" (input)="toggleShipAllItems()" />
          <label class="custom-control-label" for="shipAllItems">Ship All Items</label>
        </div>
        <div formGroupName="LineItemData">
          <div *ngFor="let li of lineItems; let i = index" formGroupName="{{ li.ID }}">
            <div *ngIf="li.Quantity !== li.QuantityShipped" class="mt-5 row align-items-center">
              <div class="col-sm-12">
                <div class="row align-top">
                  <div class="col-sm-5">
                    <div class="ml-3">
                      <h6>
                        <span>{{ li.Product.Name }}
                          <span *ngIf="li.Variant?.xp?.SpecCombo">({{ li.Variant.xp.SpecCombo }})</span>
                        </span>
                        <small class="text-muted d-block">{{
                          li.Variant?.ID || li.Product.ID
                          }}</small>
                      </h6>
                      <img [id]="i" [src]="getImageUrl(li)" width="auto" height="100px" class="d-print-none" />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <h6>Comment</h6>
                    <textarea type="text" id="LineItemComment" class="form-control" formControlName="Comment"
                      placeholder="Enter comment" rows="4" maxLength="300"></textarea>
                  </div>
                  <div class="col-sm-3">
                    <div class="float-right mr-2">
                      <h6>Quantity</h6>
                      <select type="dropdown" [attr.disabled]="shipAllItems ? true : null" class="form-control"
                        formControlName="Quantity" id="{{ li.ID }}">
                        <option [value]="0">Do Not Ship</option>
                        <option *ngFor="let j of getQuantityDropdown(li)" [value]="j">
                          {{ j }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" id="submitBtn" [disabled]="shouldDisableSave(shipmentForm)"
          class="btn btn-primary mt-4 w-100">
          Create Shipment
        </button>
      </form>
    </div>
    <div *ngIf="createShipment && !canShipLineItems()"
      class="p-3 mt-3 mb-2 border bg-light text-dark d-flex justify-content-center">
      <span class="text-align-center">All items have been shipped for this order.</span>
    </div>
    <h5 *ngIf="superShipments?.length > 0">Shipments</h5>
    <div *ngFor="let superShipment of superShipments; let i = index" class="pb-3"
      [ngClass]="{ 'border-top': i !== 0, 'mt-3': i !== 0, 'pt-3': i !== 0 }">
      <div class="row">
        <div class="col-md-5">
          <small class="font-weight-bolder text-uppercase text-muted mb-0">
            Shipped via {{ superShipment?.Shipment?.Shipper }}
            {{ superShipment?.Shipment?.xp?.Service }} on
            {{ superShipment?.Shipment.DateShipped | date: 'shortDate':'UTC' }}
          </small>
          <h6>Tracking #{{ superShipment?.Shipment?.TrackingNumber }}</h6>
          <div class="my-1" *ngFor="let li of superShipment?.ShipmentItems; let i = index">
            <div class="d-flex justify-content-start align-items-center">
              <h6 class="mb-0 mr-3">{{ li.QuantityShipped }}x</h6>
              <div class="d-flex justify-content-start align-items-center">
                <img [id]="i" [src]="getImageUrl(li)" width="33px" height="33px"
                  class="d-print-none avatar rounded-circle mr-2" />
                <h6 class="mb-0">
                  <span>{{ li.Product.Name }}
                    <span *ngIf="li.Variant?.xp?.SpecCombo">({{ li.Variant.xp.SpecCombo }})</span>
                  </span>
                  <small class="text-muted d-block">{{
                    li.Variant?.ID || li.Product.ID
                    }}</small>
                  <small class="d-block" *ngIf="
                      li.xp?.Comments &&
                      li.xp?.Comments[superShipment?.Shipment?.ID]
                    ">
                    {{
                    'Comments: ' + li.xp.Comments[superShipment.Shipment.ID]
                    }}</small>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <p *ngIf="superShipment?.Shipment.xp?.Comment">
            Comments: {{ superShipment?.Shipment?.xp?.Comment }}
          </p>
        </div>
        <div class="col-md-2 text-right">
          <small class="font-weight-bolder text-uppercase text-muted mb-0">Shipping Cost</small>
          <p *ngIf="superShipment?.Shipment.Cost">
            {{ superShipment?.Shipment.Cost | currency: _order?.xp?.Currency }}
          </p>
        </div>
        <!-- TO-DO: Work on formatting for this once we can update Ship From/Ship To address in the Portal -->
        <!-- <span class="d-block" *ngIf="shipment.FromAddress">Ship From: {{shipment.FromAddress}}</span>
            <span class="d-block" *ngIf="shipment.ToAddress">Ship To: {{shipment.ToAddress}}</span> -->
      </div>
    </div>
  </div>
</div>