<div class="container-fluid">
  <form *ngIf="resourceForm" [formGroup]="resourceForm">
    <div class="row pt-3">
      <div class="col-md-7">
        <div class="card py-2 px-3 bg-white">
          <h6 class="font-weight-medium">Storefront Details</h6>
          <div class="form-group">
            <p class="mb-1">Active</p>
            <label class="switch mb-0" for="Active">
              <input
                type="checkbox"
                class="form-check-input"
                id="Active"
                showErrors
                [resourceForm]="resourceForm"
                aria-describedby="Active"
                formControlName="Active"
                (input)="updateResourceFromEvent($event, 'Active')"
              />
              <span class="slider round cursor-pointer"></span>
            </label>
          </div>
          <div class="form-group">
            <label for="AppName">Name</label>
            <input
              type="text"
              class="form-control"
              id="AppName"
              maxlength="100"
              aria-describedby="AppName"
              formControlName="AppName"
              (input)="updateResourceFromEvent($event, 'AppName')"
              placeholder="Enter AppName"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="AccessTokenDuration">Access Token Duration</label>
              <input
                type="number"
                class="form-control"
                id="AccessTokenDuration"
                min="0"
                showErrors
                [resourceForm]="resourceForm"
                aria-describedby="AccessTokenDuration"
                formControlName="AccessTokenDuration"
                (input)="updateResourceFromEvent($event, 'AccessTokenDuration')"
                placeholder="Enter AccessTokenDuration"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="RefreshTokenDuration">Refresh Token Duration</label>
              <input
                type="number"
                class="form-control"
                id="RefreshTokenDuration"
                min="0"
                showErrors
                [resourceForm]="resourceForm"
                aria-describedby="RefreshTokenDuration"
                formControlName="RefreshTokenDuration"
                (input)="
                  updateResourceFromEvent($event, 'RefreshTokenDuration')
                "
                placeholder="Enter RefreshTokenDuration"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card py-2 px-3 bg-white">
          <h6 class="font-weight-medium">Summary</h6>
          <p>This is the summary for Api Clients</p>
        </div>
      </div>
    </div>
  </form>
</div>
