<div class="large-paddding-top">
  <div class="text-center mt-3">
    <img
      src="assets/svg/Sitecore_logo_RGB.svg"
      width="150"
      class="img-fluid py-4"
      alt="Sitecore"
    />
    <h1 class="display-4">{{ appConfig.appname }}</h1>
  </div>
  <div class="mx-auto reset-password-container">
    <h3 class="text-center text-muted mb-3">New Password</h3>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="resetPasswordForm"
      name="NewPassword"
      autocomplete="off"
      novalidate
    >
      <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input
          formControlName="username"
          id="username"
          type="username"
          class="form-control"
          placeholder="Username"
          readonly
          autocapitalize="off"
        />
      </div>
      <div class="form-group">
        <label for="psswrd" class="sr-only">Password</label>
        <input
          formControlName="password"
          id="psswrd"
          type="password"
          class="form-control"
          placeholder="Password"
          autocapitalize="off"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="confirm" class="sr-only">Confirm Password</label>
        <input
          formControlName="passwordConfirm"
          id="confirm"
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          autocapitalize="off"
        />
      </div>
      <span *ngIf="passwordMismatchError()" class="error-message"
        >Passwords must match</span
      >
      <button id="submitBtn" type="submit" class="btn btn-primary btn-block">
        Set New Password
      </button>
    </form>
  </div>
</div>
