@import '../../../../styles/main.scss';

.seller-nav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding-top: 1.6rem;

    &__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 0.8rem;
        border-radius: 0.25rem;
        &:hover {
            background-color: rgba($teal, 0.08);
            cursor: pointer;
        }
    }

    &__link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0.8rem;
        min-width: 0;
        border-radius: 0.25rem;
        color: $primary;
        text-decoration: none;
        font-weight: 500;
        &__icon {
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            padding: 0 0.8rem;
        } 
    }

    &__active {
        background: rgba($teal,0.12);
        color: $teal !important;
    }
}