<ng-container *ngIf="!isLoading">
  <ngx-spinner
    bdColor="rgba(255, 255, 255, 0.9)"
    color="var(--primary)"
    size="small"
    type="ball-spin-clockwise-fade"
    [fullScreen]="false"
  >
    <small>Loading Shipping Selections...</small>
  </ngx-spinner>

  <div class="row">
    <div class="col-sm-6">
      <span class="font-weight-bold" translate
        >CHECKOUT.CHECKOUT_PAYMENT.USE_A_PROMO</span
      >
      <div class="input-group input-group-sm mt-2">
        <input
          type="text"
          class="form-control"
          placeholder="Promo Code"
          [value]="promoCode"
          (input)="updatePromoCodeValue($event)"
          id="PromoCode"
        />
        <div class="input-group-append">
          <button translate class="btn btn-secondary" (click)="applyPromo()">
            CHECKOUT.CHECKOUT_PAYMENT.APPLY
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div *ngIf="_orderPromos?.length">
        <p translate>CHECKOUT.CHECKOUT_PAYMENT.DISCOUNTS_APPLIED</p>
        <div class="card p-2 mb-3" *ngFor="let promo of _uniqueOrderPromos">
          <p class="mb-0 lead">
            <fa-icon class="text-success mr-2" [icon]="faCheckCircle"></fa-icon>
            {{ promo.Code }}
          </p>
          <small>{{ promo.Description }}</small>
          <p class="white-space-pre mt-1 mb-0 text-danger font-weight-bolder">
            -
            {{ getPromoDiscountTotal(promo.ID) | currency: _orderCurrency }}
          </p>
          <button
            translate
            type="button"
            (click)="removePromo(promo.Code)"
            class="btn btn-remove wobble pr-2 pb-1"
          >
            CHECKOUT.CHECKOUT_PAYMENT.REMOVE
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div *ngIf="!isAnon" class="form-group">
    <label for="selectBuyerLocation" translate
      >CHECKOUT.CHECKOUT_ADDRESS.BUYER_LOCATION</label
    >
    <fa-icon
      class="ml-2"
      placement="right"
      [ngbTooltip]="tooltip"
      [openDelay]="500"
      [icon]="faQuestionCircle"
    ></fa-icon>
    <select
      [ngModel]="selectedBuyerLocation?.ID"
      (ngModelChange)="onBuyerLocationChange($event)"
      class="custom-select"
      id="selectBuyerLocation"
    >
      <option [ngValue]="null" default disabled translate>
        CHECKOUT.CHECKOUT_ADDRESS.SELECT_BUYER_LOCATION
      </option>
      <option
        *ngFor="let location of existingBuyerLocations?.Items"
        [ngValue]="location.ID"
      >
        <span>
          {{ location.Street1 }}
          <span *ngIf="location.Street2"> {{ location.Street2 }}</span
          >, {{ location.City }} {{ location.State }} {{ location.Zip }}
          <span *ngIf="location.CompanyName">({{ location.CompanyName }})</span>
        </span>
      </option>
    </select>
    <br />
  </div>
  <div class="form-group" *ngIf="!isAnon && selectedBuyerLocation">
    <label for="selectAddress" translate
      >CHECKOUT.CHECKOUT_ADDRESS.SHIPPING_ADDRESS</label
    >
    <select
      [ngModel]="selectedShippingAddress?.ID"
      (ngModelChange)="onShippingAddressChange($event)"
      class="custom-select"
      id="selectAddress"
    >
      <option [ngValue]="null" default disabled translate>
        CHECKOUT.CHECKOUT_ADDRESS.SELECT_ADDRESS
      </option>
      <option
        *ngFor="let address of existingShippingAddresses?.Items"
        [ngValue]="address.ID"
      >
        <span class="font-weight-bold"
          >{{ address.Street1
          }}<span *ngIf="address.Street2"> {{ address.Street2 }}</span
          >, {{ address.City }} {{ address.State }} {{ address.Zip }}
        </span>
      </option>
    </select>
    <button
      (click)="showNewAddress()"
      class="btn btn-outline-primary btn-sm mr-2 mt-3"
      translate
    >
      Add New Address
    </button>
    <button
      type="submit"
      *ngIf="!showNewAddressForm"
      [disabled]="!selectedShippingAddress"
      (click)="saveAddressesAndContinue()"
      class="btn btn-secondary btn-sm mr-2 mt-3"
      translate
    >
      CHECKOUT.CHECKOUT_ADDRESS.SAVE_CONTINUE
    </button>
  </div>
  <ocm-address-form
    *ngIf="showNewAddressForm && homeCountry"
    [existingAddress]="selectedShippingAddress"
    [suggestedAddresses]="suggestedAddresses"
    [showOptionToSave]="true"
    [homeCountry]="homeCountry"
    [btnText]="'Save and Continue'"
    [addressError]="_addressError"
    (formDismissed)="handleFormDismissed()"
    (formChanged)="addressFormChanged($event.detail)"
    (formSubmitted)="saveAddressesAndContinue($event.detail.address)"
  >
  </ocm-address-form>
</ng-container>
