<resource-table-component
  [resourceList]="resourceList"
  [selectedResourceID]="selectedResourceID"
  [updatedResource]="updatedResource"
  [resourceInSelection]="resourceInSelection"
  [ocService]="ocService"
  [dataIsSaving]="dataIsSaving"
  [resourceForm]="resourceForm"
  [shouldShowResourceActions]="false"
  [filterConfig]="filterConfig"
  (searched)="searchResources($event)"
  (hitScrollEnd)="handleScrollEnd()"
  (changesSaved)="saveUpdates()"
  (changesDiscarded)="discardChanges()"
  (resourceDelete)="deleteResource()"
  (resourceSelected)="selectResource($event)"
  [labelSingular]="'ADMIN.NAV.PRODUCT'"
  [labelPlural]="'ADMIN.NAV.PRODUCTS'"
>
  <app-product-edit
    *ngIf="
      userContext &&
      !isViewingBundle &&
      (!resourceInSelection?.xp?.ProductType?.length ||
        resourceInSelection.xp.ProductType.indexOf('Bundle') === -1)
    "
    class="resource-edit"
    [userContext]="userContext"
    [dataIsSaving]="dataIsSaving"
    [product]="resourceInSelection"
    (updateList)="updateResourceInList($event)"
  >
  </app-product-edit>
  <app-product-bundle-edit
    *ngIf="
      userContext &&
      (isViewingBundle ||
        (resourceInSelection?.xp?.ProductType?.length &&
          resourceInSelection.xp.ProductType.indexOf('Bundle') > -1))
    "
    [userContext]="userContext"
    class="resource-edit"
    [dataIsSaving]="dataIsSaving"
    [product]="resourceInSelection"
    (updateList)="updateResourceInList($event)"
  >
  </app-product-bundle-edit>
</resource-table-component>
