<resource-table-component
  [resourceList]="resourceList"
  [selectedResourceID]="selectedResourceID"
  [updatedResource]="updatedResource"
  [resourceInSelection]="resourceInSelection"
  [ocService]="ocService"
  [dataIsSaving]="dataIsSaving"
  [resourceForm]="resourceForm"
  [shouldShowResourceActions]="false"
  [filterConfig]="filterConfig"
  (searched)="searchResources($event)"
  (hitScrollEnd)="handleScrollEnd()"
  (changesSaved)="saveUpdates()"
  (changesDiscarded)="discardChanges()"
  (resourceDelete)="deleteResource()"
  (resourceSelected)="selectResource($event)"
  [labelSingular]="'ADMIN.NAV.PRODUCT'"
  [labelPlural]="'ADMIN.NAV.PRODUCTS'"
>
  <!-- <app-product-view *ngIf="userContext?.UserType === 'SELLER'"
                    class="resource-edit"
                    [orderCloudProduct]="resourceInSelection">
  </app-product-view> -->
  <app-product-edit
    class="resource-edit"
    [dataIsSaving]="dataIsSaving"
    [addresses]="addresses"
    [orderCloudProduct]="resourceInSelection"
    (updateList)="updateResourceInList($event)"
  >
  </app-product-edit>
</resource-table-component>
