<div *ngIf="orderSummaryMeta">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <input
          type="text"
          class="form-control"
          placeholder="Promo Code"
          [value]="promoCode"
          (input)="updatePromoCodeValue($event)"
          id="PromoCode"
        />
        <div class="input-group-append">
          <button translate class="btn btn-secondary" (click)="applyPromo()">
            CHECKOUT.CHECKOUT_PAYMENT.APPLY
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="_orderPromos?.length">
      <p translate>CHECKOUT.CHECKOUT_PAYMENT.DISCOUNTS_APPLIED</p>
      <div class="card p-2" *ngFor="let promo of _uniqueOrderPromos">
        <p class="mb-0 lead">
          <fa-icon class="text-success mr-2" [icon]="faCheckCircle"></fa-icon>
          {{ promo.Code }}
        </p>
        <small>{{ promo.Description }}</small>
        <p class="white-space-pre mt-1 mb-0 text-danger font-weight-bolder">
          - {{ getPromoDiscountTotal(promo.ID) | currency: _orderCurrency }}
        </p>
        <button
          translate
          type="button"
          (click)="removePromo(promo.Code)"
          class="btn btn-remove wobble pr-2 pb-1"
        >
          CHECKOUT.CHECKOUT_PAYMENT.REMOVE
        </button>
      </div>
    </div>
  </div>
  <hr class="mt-4 border-light" />
  <h5 class="my-3" *ngIf="orderSummaryMeta.POLineItemCount">
    {{ orderSummaryMeta.POLineItemCount }} Item(s) to Be Paid By Purchase Order
    at a total of
    <span class="mt-2">
      {{ orderSummaryMeta.POTotal | currency: _orderCurrency }}
    </span>
  </h5>
  <small
    class="d-block font-italic text-muted"
    *ngIf="orderSummaryMeta.POLineItemCount"
  >
    <strong>US/Canada Orders:</strong> Key fob and/or wallet card orders will
    NOT be charged to your credit card. The cost of key fobs, wallet cards,
    sales tax, and final calculated shipping costs will be deducted via an ABC
    remit. The price reflected on this order is only an estimate and does not
    include an estimate for sales tax and shipping costs. Actual final cost will
    vary based on applicable sales tax and selected ship speed. By placing an
    order in your cart, you accept these terms.
  </small>
  <div class="mt-3" *ngIf="orderSummaryMeta.POLineItemCount">
    <button
      *ngIf="orderSummaryMeta.POLineItemCount"
      [disabled]="POTermsAccepted"
      type="submit"
      (click)="acceptPOTerms()"
      class="btn btn-info btn-block-xs mr-2"
    >
      Accept
    </button>
    <fa-icon
      *ngIf="POTermsAccepted"
      [icon]="faCheckCircle"
      class="text-success"
    ></fa-icon>
  </div>
  <h5 class="my-3" *ngIf="!orderSummaryMeta.POLineItemCount">
    All Items to Be Paid By Credit Card
  </h5>
  <h5
    class="my-3"
    *ngIf="
      orderSummaryMeta.POLineItemCount && orderSummaryMeta.StandardLineItemCount
    "
  >
    {{ orderSummaryMeta.StandardLineItemCount }} Item(s) to Be Paid By Credit
    Card at a total of
    <span>
      {{ orderSummaryMeta.CreditCardTotal | currency: _orderCurrency }}
    </span>
  </h5>
  <ocm-payment-credit-card
    *ngIf="orderSummaryMeta.StandardLineItemCount"
    [cards]="cards"
    [termsAccepted]="POTermsAccepted"
    [paymentError]="paymentError"
    (cardSelected)="onCardSelected($event.detail)"
  >
  </ocm-payment-credit-card>
  <button
    type="submit"
    (click)="onContinue()"
    *ngIf="!orderSummaryMeta.StandardLineItemCount"
    class="btn btn-primary btn-block-xs mt-4 mr-2"
    [disabled]="orderSummaryMeta.POLineItemCount && !POTermsAccepted"
  >
    Continue
  </button>
</div>
