<div class="card m-3 monitored-product-container"
>
  <div class="card-header">
    <div class="pb-1 d-flex justify-content-between align-items-center">
      <div class="flex-column justify-content-start align-items-center">
        <div class="product-name">
          {{ notification?.Doc?.Product?.Name }}
        </div>
      </div>
      <div class="flex justify-content-end align-items-center">
        <button
          (click)="navigateToProductPage(notification.Doc.Product.ID)"
          class="btn btn-primary notification-button"
        >
          Go To Product Page
        </button>
        <button
          (click)="reviewMonitoredFieldChange('ACCEPTED', notification)"
          class="btn btn-primary notification-button"
        >
          Accept
        </button>
        <!-- TODO: Reinstate the rejected button once functionality can handle the repercussions. -->
        <!-- <button (click)="reviewMonitoredFieldChange('REJECTED')"
                        class="btn btn-outline-danger ml-2">Reject</button> -->
      </div>
    </div>
  </div>
  <div class="card-body d-flex justify-content-between align-items-top">
    <div class="additional-info-section">
      <small class="mb-0 text-uppercase text-muted font-weight-bolder"
        >Property Changed</small
      >
      <div class="field-notified">
        {{ notification?.Doc?.Product?.FieldModified }}
      </div>
    </div>
    <div class="additional-info-section">
      <small class="mb-0 text-uppercase text-muted font-weight-bolder"
        >Previous Value</small
      >
      <pre
        class="notification-value"
      ><code>{{notification?.Doc?.Product?.PreviousValue | json}}</code></pre>
    </div>
    <div class="additional-info-section">
      <small class="mb-0 text-uppercase text-muted font-weight-bolder"
        >New Value</small
      >
      <pre
        class="notification-value"
      ><code>{{notification?.Doc?.Product?.CurrentValue | json}}</code></pre>
    </div>
  </div>

  <small class="card-footer mb-0 font-italic"
    >Edited by {{ notification?.Doc?.History?.ModifiedBy?.Name }} of
    {{ notification?.Doc?.Supplier?.Name }} on
    {{ notification?.Doc?.History?.DateModified | date }}</small
  >
</div>
