.notification-value {
  white-space: pre-wrap;
}

.additional-info-section {
  padding: 10px;
}

.notification-button {
  margin: 4px;
}

.monitored-product-container {
  border-left-color: #f06022; 
  border-left-width: 0.5em;
  .product-name {
    font-weight: bolder; 
    margin-bottom: 4px; 
    font-size: larger
  }
  .field-notified {
    font-weight: bolder; 
    margin-bottom: 4px
  }
}