<!-- /Product Details -->
<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-md-5">
      <h5 translate>ADMIN.PRODUCT_EDIT.PRODUCT_FILTERS</h5>
      <p class="font-italic" translate>
        ADMIN.PRODUCT_EDIT.CONFIGURE_STOREFRONT_FILTERS
      </p>
    </div>
  </div>
  <div *ngIf="readonly">
    <button
      *ngIf="!sellerFilterOverride"
      class="btn btn-primary mb-3"
      type="button"
      (click)="toggleSellerFilterOverride()"
      translate
    >
      ADMIN.PRODUCT_EDIT.OVERRIDE_FILTERS
    </button>
    <button
      *ngIf="sellerFilterOverride"
      class="btn btn-outline-primary mb-3"
      type="button"
      (click)="toggleSellerFilterOverride()"
      translate
    >
      ADMIN.PRODUCT_EDIT.CANCEL_OVERRIDE
    </button>
    <button
      *ngIf="sellerFilterOverride && overriddenChanges"
      class="btn btn-primary ml-3 mb-3"
      type="button"
      [disabled]="savingOverriddenFilters"
      (click)="saveFilterOverrides()"
    >
      <span *ngIf="!savingOverriddenFilters" translate
        >ADMIN.PRODUCT_EDIT.SAVE_CHANGES</span
      >
      <span *ngIf="savingOverriddenFilters" translate
        >ADMIN.PRODUCT_EDIT.SAVING</span
      >
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <perfect-scrollbar class="product-filter-scrollbars">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th translate>ADMIN.PRODUCT_EDIT.FILTER</th>
              <th translate>ADMIN.PRODUCT_EDIT.FILTER_OPTIONS</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let facet of facetOptions">
              <tr
                *ngIf="
                  !readonly ||
                  (readonly &&
                    (areFacetOptionsSelected(facet) || sellerFilterOverride))
                "
              >
                <td>
                  {{ facet.Name }}
                </td>
                <td>
                  <ng-container *ngFor="let option of facet?.xp?.Options">
                    <div
                      *ngIf="
                        readonly &&
                        isFacetOptionApplied(facet, option) &&
                        !sellerFilterOverride
                      "
                      class="chip supplier-facet-chip readonly active"
                    >
                      {{ option }}
                      <fa-icon
                        *ngIf="!readonly || sellerFilterOverride"
                        [icon]="faCheckCircle"
                      ></fa-icon>
                    </div>
                    <div
                      *ngIf="!readonly || sellerFilterOverride"
                      class="chip editable supplier-facet-chip"
                      (click)="toggleFacetOption(facet, option)"
                      [ngClass]="{
                        active: isFacetOptionApplied(facet, option)
                      }"
                    >
                      {{ option }}
                      <fa-icon
                        *ngIf="isFacetOptionApplied(facet, option)"
                        [icon]="faCheckCircle"
                      ></fa-icon>
                    </div>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </perfect-scrollbar>
    </div>
  </div>
</div>
