<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 bg-white border-right">
      <account-menu></account-menu>
    </div>
    <div class="col-md-10 bg-light">
      <perfect-scrollbar class="w-100"
        [ngStyle]="{ 'height.px': contentHeight }"
      >
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col-md-7">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="resource-name mb-0" translate>
                  Email Notifications
                </h1>
                <div>
                  <button
                    class="btn btn-primary btn-sm"
                    *ngIf="areChanges"
                    (click)="patchUser(['xp'])"
                  >
                    Save Changes
                  </button>
                  <button
                    class="btn btn-outline-teal btn-sm ml-2"
                    *ngIf="areChanges"
                    (click)="discardChanges()"
                  >
                    Discard Changes
                  </button>
                </div>
              </div>
              <seller-email-notifications
                *ngIf="userContext?.UserType === 'SELLER'"
                [user]="userEditable"
                [sellerUserForm]="userForm"
                (toggleReceiveOrderEmails)="toggleOrderEmails($event)"
                (toggleReceiveRequestInfoEmails)="
                  toggleRequestInfoEmails($event)
                "
                (toggleReceiveProductEmails)="toggleProductEmails($event)"
                (removeRcpt)="removeAddtlRcpt($event)"
                (addRcpt)="addAddtlRcpt()"
              >
              </seller-email-notifications>
              <div class="mb-0" class="notification-header-container">
                <h1 class="resource-name mb-0" translate>
                  Notification Center
                </h1>

                <div *ngIf="!notificationsToReview?.length">
                  <div class="card align-items-center notification-container">
                    <h5 class="mb-0">You are all caught up!</h5>
                    <div>Your notifications will show up here.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <account-summary [user]="userEditable"></account-summary>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
